<div class="footer">
  <div class="footDiv clearfix">
      <ul class="footDiv_ul clearfix">
          <li class="footDiv_li">
              <h3>走进掌腾</h3>
              <ul>
                  <li><a href="/about/about">关于掌腾</a></li>
                  <li><a href="/about/road">掌腾之路</a></li>
                  <li><a href="about/team">核心团队</a></li>
              </ul>
          </li>
          <li class="footDiv_li">
                <h3>新闻中心</h3>
                <ul>
                    <li><a href="/news?page=1">掌腾新闻</a></li>
                </ul>
          </li>
          <li class="footDiv_li">
                <h3>产品中心</h3>
                <ul>
                    <li><a href="/product/product?id=0">掌静脉识别原理</a></li>
                    <li><a href="/product/product?id=1">地铁通行方案</a></li>
                    <li><a href="/product/product?id=2">无人超市方案</a></li>
                    <li><a href="/product/product?id=3">人证合一方案</a></li>
                    <li><a href="/product/product?id=4">系统管理方案</a></li>
                    <li><a href="/product/product?id=5">商业支付方案</a></li>
                </ul>
          </li>
          <li class="footDiv_li">
                <h3>掌腾权威证书</h3>
                <ul>
                    <li><a href="/honor/honor">专利技术</a></li>
                </ul>
          </li>
          <li class="footDiv_li">
                <h3>求贤纳才</h3>
                <ul>
                    <li><a href="/career/career">人才招聘</a></li>
                </ul>
           </li>
            <li class="footDiv_li">
                <h3>联系我们</h3>
                <ul>
                    <li><a href="/career/career">联系我们</a></li>
                </ul>
            </li>
      </ul>
      <div class="footer-code">
          <h3>扫描二维码，关注我们</h3>
          <div class="zt-code">
              <img src="/public/images/1521688937.png" />
          </div>
          <h3 style="font-size: 14px;">咨询电话：021-6287 5088</h3>
      </div>
  </div>
  <div class="footer-bottom">
    Copyright ©2016 zh2zh.com All Right Reserved &nbsp;&nbsp;上海掌腾信息科技有限公司 &nbsp;&nbsp;&nbsp;&nbsp;沪ICP备16028310号 &nbsp;&nbsp;沪公网安备31010602001155
  </div>
</div>