<div class="footer">
  <div class="footDiv">
      <div class="tel">掌腾热线：021-6287 5088</div>
      <div class="copyright">Copyright ©2016 zh2zh.com All Right Reserved 上海掌腾信息科技有限公司 </div>
      <a href="javascript:;" target="_blank">
          沪ICP备16028310号
      </a>
      <a href="javascript:;" target="_blank" style="line-height:25px;">
          <img src="/public/picture/ocean.png" />&nbsp;&nbsp;沪公网安备31010602001155号
      </a>
      <div class="share-code">
          <img src="/public/images/1521688937.png" />
      </div>
  </div>
</div>