<div class="headDiv">
  <div class="headDiv-nav clearfix">
      <a href="/" class="logo">
          <img src="/public/images/top-logo.png" />
      </a>
      <div class="nav">
          <ul class="clearfix">
              <li>
                  <a href="/">
                      <em>掌腾首页</em>
                      <div>
                          Home
                          <i></i>
                      </div>
                  </a>
              </li>
              <li>
                  <a href="/about">
                      <em>走进掌腾</em>
                      <div>
                          About
                          <i></i>
                      </div>
                  </a>
              </li>
              <li>
                  <a href="/news">
                      <em>新闻中心</em>
                      <div>
                          News
                          <i></i>
                      </div>
                  </a>
              </li>
              <li>
                  <a href="/product">
                      <em>产品中心</em>
                      <div>
                          Product
                          <i></i>
                      </div>
                  </a>
              </li>
              <li>
                  <a href="/honor">
                      <em>掌腾权威证书</em>
                      <div>
                          Honor 
                          <i></i>
                      </div>
                  </a>
              </li>
              <li>
                  <a href="/career">
                      <em>求贤纳才</em>
                      <div>
                          Career
                          <i></i>
                      </div>
                  </a>
              </li>
              <li>
                  <a href="/contact">
                      <em>联系我们</em>
                      <div>
                          Contact
                          <i></i>
                      </div>
                  </a>
              </li>
          </ul>
      </div>
      <div class="social-box">
          <div class="social-title">
              <span>移动社交</span>
          </div>
          <div class="social-title-active">
              <span>Mobile</span>
              <b></b>
          </div>
      </div>
      <ul class="social-contents">
            <li>
                <div class="li-left">
                    <h2>掌腾官网手机版</h2>
                    <img src="/public/images/1521688937.png" alt="">
                </div>
                <div class="li-right">
                    <h2>掌腾微信公众号</h2>
                    <img src="/public/images/apple_code.png" alt="">
                </div>
            </li>
            <li>
                <div class="li-left">
                    <h2>掌腾App(Android版)</h2>
                    <img src="/public/images/android_code.png" alt="">
                </div>
                <div class="li-right">
                    <h2>掌腾App(IOS版)</h2>
                    <img src="/public/images/apple_code.png" alt="">
                </div>
            </li>
        </ul>
  </div>
</div>
<div class="head-space"></div>