{% extends './career_layout.html' %}
{% block _link %}{% endblock %}
   
{% block mainContent %}
<div class="main">
    <div class="channelT pr">
        <h1 class="l N">人才招聘</h1>
        <div id="switcher" class="r switcher">
            <a class="ico ico5_1" id="big"></a>
            <a class="ico ico5_2"></a>
            <a class="ico ico5_3" id="small"></a>
        </div>
    </div>
    <div class="imgshow">
        <img src="/public/images/career.png" />
    </div>
    <div class="career">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            iOS工程师
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <p><strong>招聘岗位：</strong>iOS工程师</p>
                        <p><strong>招聘人数：</strong>1人</p>
                        <p><strong>学历：</strong>本科及以上</p>
                        <p><strong>工作年限：</strong>2年以上</p>
                        <p><strong>薪资：</strong>10K-15K</p>
                        <h1><strong>任职要求：</strong></h1>
                        <p>1、本科以上学历，2年以上iOS开发经验, 能独立开发App应用</p>
                        <p>2、扎实的Objective-C语言基础，熟悉json数据解析</p>
                        <p>3、熟练掌握iOS平台下的代码调试和调优技术</p>
                        <p>4、熟练使用Xcode以及其他Developer Tools</p>
                        <p>5、自主完成过某些UI控件、或底层服务框架、或底层公共模块的设计</p>
                        <p>6、会安卓apk开发者优先</p>
                        <h1><strong>岗位职责：</strong></h1>
                        <p>1、负责iOS手机软件的开发、测试、维护、上线工作</p>
                        <p>2、负责持续优化相关的产品质量、性能和体验</p>
                        <p>3、配合测试和产品发布</p>
                        <h1><strong>素质要求：</strong></h1>
                        <p>1、有良好的学习及适应能力</p>
                        <p>2、有端正的工作态度和强烈的责任心</p>
                        <p>3、富有团队精神</p>
                        <p>4、有良好的代码习惯</p>
                        <p>5、有较强的独立工作能力和解决问题的能力</p>
                        <h1><strong>公司福利：</strong></h1>
                        <p>五险一金做五休二年底双薪股票期权员工旅游</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            高级UI设计师
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <p><strong>招聘岗位：</strong>高级UI设计师</p>
                        <p><strong>招聘人数：</strong>1人</p>
                        <p><strong>学历：</strong>本科及以上</p>
                        <p><strong>工作年限：</strong>3年以上</p>
                        <p><strong>薪资：</strong>12K-17K</p>
                        <h1><strong>任职要求：</strong></h1>
                        <p>1、本科及以上学历，美术设计相关专业</p>
                        <p>2、3年以上互联网UI设计工作经验，有较多成熟的作品</p>
                        <p>3、精通Photoshop、Illustrator等图形软件和Dreamweaver等网页制作工具</p>
                        <p>4、精通html网页元素，熟练使用jquery进行网页元素的交互设计</p>
                        <p>5、具备良好的审美能力、深厚的美术功底，有较强的平面设计和网页设计能力</p>
                        <p>6、面试时请附带好自己的作品，作品必须包含安卓和苹果手机APP的设计稿、基于微信H5应用的设计稿、基于PC网站的设计稿</p>
                        <h1><strong>公司福利：</strong></h1>
                        <p>五险一金做五休二年底双薪股票期权员工旅游</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            初级Java软件工程师（应届生亦可）
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <p><strong>招聘岗位：</strong>初级Java软件工程师</p>
                        <p><strong>招聘人数：</strong>1人</p>
                        <p><strong>学历：</strong>本科及以上</p>
                        <p><strong>工作年限：</strong>1年以上</p>
                        <p><strong>薪资：</strong>6K-8K</p>
                        <h1><strong>任职要求：</strong></h1>
                        <p>1、大学本科学历，计算机及其相关专业</p>
                        <p>2、熟悉面向对象的设计和编程，具有扎实的Java基础知识</p>
                        <p>3、熟悉JSP/Servlet、HTML、JavaScript、Ajax、Jquery等WEB开发技术</p>
                        <p>4、熟悉Eclipse开发环境，会debug断点调试</p>
                        <p>5、熟练使用MySQL数据库，SQL编写熟练</p>
                        <p>6、会使用svn版本控制工具</p>
                        <h1><strong>岗位职责：</strong></h1>
                        <p>1、根据开发需求文档或设计说明书，进行系统/模块的软件开发工作</p>
                        <p>2、对开发代码进行测试和bug修复，保证代码质量</p>
                        <h1><strong>素质要求：</strong></h1>
                        <p>1、有良好的学习及适应能力</p>
                        <p>2、有端正的工作态度和强烈的责任心</p>
                        <p>3、富有团队精神</p>
                        <h1><strong>公司福利：</strong></h1>
                        <p>五险一金做五休二年底双薪股票期权员工旅游</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFouth">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFouth" aria-expanded="true" aria-controls="collapseFouth">
                            安卓工程师
                        </a>
                    </h4>
                </div>
                <div id="collapseFouth" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFouth">
                    <div class="panel-body">
                        <p><strong>招聘岗位：</strong>安卓工程师</p>
                        <p><strong>招聘人数：</strong>1人</p>
                        <p><strong>学历：</strong>本科及以上</p>
                        <p><strong>工作年限：</strong>2年以上</p>
                        <p><strong>薪资：</strong>10K-15K</p>
                        <h1><strong>任职要求：</strong></h1>
                        <p>1、本科以上学历，2年以上安卓开发经验, 能独立开发App应用</p>
                        <p>2、熟练掌握JAVA语言，熟悉数据结构、面向对象开发和设计</p>
                        <p>3、精通Android界面布局框架和API调用</p>
                        <p>4、熟悉Android的线程机制</p>
                        <p>5、熟练使用Eclipse、Android SDK、NDK等开发工具，能独立Debug分析和解决问题</p>
                        <p>6、有实际上线安卓产品者优先</p>
                        <h1><strong>岗位职责：</strong></h1>
                        <p>1、负责Android手机软件的开发、测试、维护、上线工作</p>
                        <p>2、负责持续优化相关的产品质量、性能和体验</p>
                        <p>3、配合测试和产品发布</p>
                        <h1><strong>素质要求：</strong></h1>
                        <p>1、有良好的学习及适应能力</p>
                        <p>2、有端正的工作态度和强烈的责任心</p>
                        <p>3、富有团队精神</p>
                        <p>4、有良好的代码习惯</p>
                        <p>5、有较强的独立工作能力和解决问题的能力</p>
                        <h1><strong>公司福利：</strong></h1>
                        <p>五险一金做五休二年底双薪股票期权员工旅游</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                            中级Java软件工程师
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body">
                        <p><strong>招聘岗位：</strong>中级Java软件工程师</p>
                        <p><strong>招聘人数：</strong>1人</p>
                        <p><strong>学历：</strong>本科及以上</p>
                        <p><strong>工作年限：</strong>2年以上</p>
                        <p><strong>薪资：</strong>10K-15K</p>
                        <h1><strong>任职要求：</strong></h1>
                        <p>1、大学本科及以上学历，2年以上JAVA开发工作经验</p>
                        <p>2、精通Web编程，精通JSP/Servlet、HTML、JavaScript、Ajax、Jquery等WEB开发技术</p>
                        <p>3、会独立搭建和配置完整的Eclipse、MySQL、Tomcat开发环境</p>
                        <p>4、有MySQL数据库的实际应用经验，精通SQL编写</p>
                        <p>5、熟练使用svn版本控制工具</p>
                        <p>6、有扎实的开发功底，熟悉数据结构、面向对象开发和设计，具备较好的算法设计能力有较强的沟通能力</p>
                        <p>7、有Redis开发经验优先</p>
                        <h1><strong>岗位职责：</strong></h1>
                        <p>1、负责部分模块的系统设计</p>
                        <p>2、负责部分核心功能的开发</p>
                        <p>3、代码测试和bug修复，保证代码质量</p>
                        <h1><strong>素质要求：</strong></h1>
                        <p>1、有良好的学习及适应能力</p>
                        <p>2、有端正的工作态度和强烈的责任心</p>
                        <p>3、富有团队精神</p>
                        <p>4、有良好的代码习惯</p>
                        <p>5、有较强的独立工作能力和解决问题的能力</p>
                        <h1><strong>公司福利：</strong></h1>
                        <p>五险一金做五休二年底双薪股票期权员工旅游</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}
{% block _script %}
<script src="/public/libs/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}
