<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit" />
    <title>上海掌腾信息科技有限公司</title>
    <meta name="keywords" content="上海掌腾信息科技有限公司，掌腾智能，掌静脉，掌纹识别" />
    <meta name="description" content="掌腾公司作为一家高科技公司，以生物识别技术为核心，着眼于打造生物识别的支付生态，有志于成为该领域领航者" />
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="/public/libs/bootstrap/css/bootstrap.min.css">
    <link href="/public/css/base.css" rel="stylesheet">
    <link href="/public/css/header.css" rel="stylesheet" />
    <link href="/public/css/home.css" rel="stylesheet" />
    <script type="text/javascript" src="/public/js/jquery-1.10.1.min.js"></script>
    <script src="/public/libs/bootstrap/js/bootstrap.min.js"></script>
</head>

<body class="indexBg">
    <div class="wrapper">
        <!-- header-nav -->
        
        {% include '../layout/header.html' %}
        
        <!-- banner -->
        <div class="indexFlash">
            <div class="bd">
                <ul>
                    <li class="li_01">
                        <div class="li-div">
                            <div class="bg"></div>
                            <div class="img_one">
                                <img src="/public/picture/img693.png" />
                            </div>
                            <div class="img_two"></div>
                        </div>
                    </li>
                    <li class="li_02">
                        <div class="li-div">
                            <div class="bg">
                                <img src="/public/picture/img800.png" />
                            </div>
                            <div class="img_one">
                                <img src="/public/picture/indexflash_02-1.png" />
                            </div>
                            <div class="img_two">
                                <img src="/public/picture/indexflash_02-2.png" />
                            </div>
                        </div>
                    </li>
                    <li class="li_03">
                        <div class="li-div">
                            <div class="bg">
                                <img src="/public/picture/img1200_1.png" />
                            </div>
                            <div class="img_one">
                                <img src="/public/picture/indexflash_03-1.png" />
                            </div>
                            <div class="img_two">
                                <img src="/public/picture/indexflash_03-2.png" />
                            </div>
                        </div>
                    </li>
                    <li class="li_04">
                        <a href="javascript:;" class="li-div">
                            <div class="bg"></div>
                            <div class="img_one">
                                <img src="/public/picture/indexflash_04-1.png" />
                            </div>
                            <div class="img_two">
                                <img src="/public/picture/indexflash_04-2.png" />
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <a href="javascript:;" class="prev btn"></a>
            <a href="javascript:;" class="next btn"></a>
            <div class="btnDiv"></div>
        </div>
        <div class="auto-wrapper clearfix">
            <!--indexPart_one-->
            <div class="indexPart_one">
                <ul class="clearfix">
                    <li>
                        <a href="/product">
                            <h2>活体识别/唯一性</h2>
                            <div class="img">
                                <img src="/public/picture/img50_1.png" />
                            </div>
                            <div class="img img_hide">
                                <img src="/public/picture/img50_1on.png" />
                            </div>
                            <p>
                                用掌静脉进行身份认证，
                                <br />获取的是手掌内部的静脉图像特征，
                                <br />不存在非活体的手掌、手掌表面的损伤、
                                <br />磨损、干燥或太湿等等，
                                <br />带来的识别障碍。
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="/product">
                            <h2>非接触性</h2>
                            <div class="img">
                                <img src="/public/picture/img50_2.png" />
                            </div>
                            <div class="img img_hide">
                                <img src="/public/picture/img50_2on.png" />
                            </div>
                            <p>用掌静脉进行身份认证，
                                <br />获取手掌静脉图像时，
                                <br />手掌无须与设备接触，
                                <br />轻轻一放，即可完成识别。
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="/product">
                            <h2>安全性高</h2>
                            <div class="img">
                                <img src="/public/picture/img50_3.png" />
                            </div>
                            <div class="img img_hide">
                                <img src="/public/picture/img50_3on.png" />
                            </div>
                            <p>
                                掌静脉血管多而复杂，识别精度高，
                                <br />血管粗耐寒能力高，安全稳定性好，活
                                <br />体识别、内部特征和非接触式3个方面
                                <br />的特征,确保了掌静脉特征很难被伪造。
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="/product">
                            <h2>高兼容性</h2>
                            <div class="img">
                                <img src="/public/picture/img50_4.png" />
                            </div>
                            <div class="img img_hide">
                                <img src="/public/picture/img50_4on.png" />
                            </div>
                            <p>
                                配置管理PC，对联网终端进行管理和数据处理，
                                <br />集成网络接口、USB接口、韦根接口、电锁接口等，
                                <br />内置IC/ID卡识别，实现 1:1精确、快速地认证，
                                <br />同时还可以配置触摸屏,无需管理PC
                                <br />也可以操作和维护。
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- indexPart_two -->
            <div class="indexPart_two">
                <div class="title">
                    <span>Product /</span>产品
                </div>
                <div class="tab">
                    <ul class="clearfix">
                        <li class="liNow">
                            <img src="/public/picture/img30_1.png" />
                            <img src="/public/picture/img30_1on.png" class="on" />产品方案
                        </li>
                    </ul>
                </div>
                <div class="tabContentDiv list">
                    <ul class="tabContent clearfix">
                        <li>
                            <div class="imgDiv">
                                <a href="/product?id=0">
                                    <img src="/public/images/146900004935f1a4323b4fb597.png" />
                                </a>
                            </div>
                            <div class="name">
                                <a href="/product?id=0">掌静脉识别原理</a>
                            </div>
                            <a href="/product?id=0" class="txt">掌静脉识别技术是利用近红外线照射手掌，并由传感器感应手掌反射的光。其中的关键在于流到静脉红血球中的血红蛋白...</a>
                        </li>
                        <li>
                            <div class="imgDiv">
                                <a href="/product?id=1">
                                    <img src="/public/images/1469000073fb34513493aeb747.png" />
                                </a>
                            </div>
                            <div class="name">
                                <a href="/product?id=1">地铁通行方案</a>
                            </div>
                            <a href="/product?id=1" class="txt">掌静脉智能通道可作为一个人工智能的高生物识别科技应用落地，同时也完全符合地铁运营要求的规范...</a>
                        </li>
                        <li>
                            <div class="imgDiv">
                                <a href="/product?id=2">
                                    <img src="/public/images/1469000118abcd5d799fd9c334.png" />
                                </a>
                            </div>
                            <div class="name">
                                <a href="/product?id=2">认证合一</a>
                            </div>
                            <a href="/product?id=2" class="txt">用户通过“人证合一自助终端”进行手掌身份的账户注册,注册完成“掌静脉”账户后，通过证件识别认证身份权限...</a>
                        </li>
                        <li>
                            <div class="imgDiv">
                                <a href="/product?id=3">
                                    <img src="/public/images/1469000096884d372b1d00c2d3.png" />
                                </a>
                            </div>
                            <div class="name">
                                <a href="/product?id=3">无人超市</a>
                            </div>
                            <a href="/product?id=3" class="txt">掌购-智慧超市”是以生物识别（掌静脉识别）作为身份验证/账户支付，同时利用RFID识别技术...</a>
                        </li>
                        <li>
                            <div class="imgDiv">
                                <a href="/product?id=4">
                                    <img src="/public/images/14690001394b13270080e14881.png" />
                                </a>
                            </div>
                            <div class="name">
                                <a href="/product?id=4">管理系统方案</a>
                            </div>
                            <a href="/product?id=4" class="txt">掌腾ZOA系统是一套专门为工作区域管理及企业员工管理而设计的基于掌静脉技术的综合管理系统...</a>
                        </li>
                        <li>
                            <div class="imgDiv">
                                <a href="/product?id=5">
                                    <img src="/public/images/14690001652432c9b119391aa8.png" />
                                </a>
                            </div>
                            <div class="name">
                                <a href="/product?id=5">商业支付方案</a>
                            </div>
                            <a href="/product?id=5" class="txt">掌腾信息为掌静脉支付领域打造了"钱包"概念，让支付成为一种习惯性的生活方式...</a>
                        </li>

                    </ul>
                </div>
                <div class="h10"></div>
            </div>
            <!-- indexPart_three -->
            <div class="fl indexPart_three indexPart_av">
                <div class="pageTitle">
                    <div class="name">
                        <span>About /</span>走进掌腾
                    </div>
                    <a href="/about/about" class="more">掌腾简介 +</a>
                </div>
                <div class="tabContentDiv">
                    <div class="tabContent content_about" id="content_about">
                        <div class="content">
                            <div class="clearfix">
                                <div class="fl img">
                                    <img src="/public/images/img254.jpg" />
                                </div>
                                <div class="fr txt">
                                    掌腾公司作为一家高科技公司，以生物识别技术为核心，着眼于打造生物识别的支付生态，有志于成为该领域领航者。公司资本背景雄厚，高层与核心团队均来自于世界500强，既有掌握领先尖端技术的研发骨干，又有具备丰富管理及项目经验的业务精英，为公司的快速发展提供了坚实的基础。
                                </div>
                            </div>
                            <p>
                                公司的核心技术—掌静脉识别技术，具有广阔的市场前景，合作客户覆盖不同行业，产品涵盖银行、交通、安防、支付等相关领域。愿您的加入给我们带来新的活力，我们也将为您提供广阔的发展空间。
                            </p>
                        </div>
                        <div class="btn">
                            <a href="/about/about">查看更多+</a>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="fr indexPart_fourth indexPart_av">
                <div class="pageTitle">
                    <div class="name">
                        <span>News /</span>资讯中心
                    </div>
                    <a href="/news" class="more">新闻资讯 +</a>
                </div>
                <div class="list-news">
                    <ul>
                        {%for content in contentArr %}
                        <li class="clearfix">
                            <div class="time-box fl">
                                <div class="time">
                                    <a href="/news/detail?page=1&id={{content._id.toString()}}">{{content.addTime|date('Y.m.d', -8*60)}}</a>
                                </div>
                            </div>
                            <div class="new-box fr">
                                <div class="name">
                                    <a href="/news/detail?page=1&id={{content._id.toString()}}">{{content.title}}</a>
                                </div>
                                <a href="/news/detail?page=1&id={{content._id.toString()}}" class="txt" >{{content.describtion}}</a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            
        </div>

        <div class="indexPart_six">
            <div class="auto-wrapper">
                <div class="title">
                    <span>Honor/</span>掌腾权威证书
                </div>
            </div>
        </div>

        <div class="auto-wrapper">
            <!--indexPart_seven-->
            <div class="indexPart_seven">
                <div class="title">
                    <span>Customer /</span>客户</div>
                <div class="msg">通过设计为品牌创造更多商业价值
                    <div>Create more commercial value for the brand through quality designs</div>
                </div>
                <div class="info">
                    <ul>
                        <li>10年, 200家品牌
                            <br />
                            <span>600多个</span>真实案例</li>
                        <li>8090后
                            <br />
                            <span>创造力量</span>
                        </li>
                        <li>连续三年
                            <br />
                            <span>中国品牌设计50强</span>
                        </li>
                    </ul>
                </div>
                <div class="indexCustomer">
                    <div class="wrap">
                        <div class="box">
                            <ul>
                                <li>
                                    <a>
                                        <img src="/public/picture/customer1.jpg" />
                                    </a>
                                </li>

                                <li>
                                    <a>
                                        <img src="/public/picture/customer2.jpg" />
                                    </a>
                                </li>

                                <li>
                                    <a>
                                        <img src="/public/picture/customer3.jpg" />
                                    </a>
                                </li>

                                <li>
                                    <a>
                                        <img src="/public/picture/customer4.jpg" />
                                    </a>
                                </li>

                                <li>
                                    <a>
                                        <img src="/public/picture/customer5.jpg" />
                                    </a>
                                </li>

                                <li class="margin-none">
                                    <a>
                                        <img src="/public/picture/customer6.jpg" />
                                    </a>
                                </li>

                                <li>
                                    <a>
                                        <img src="/public/picture/customer7.jpg" />
                                    </a>
                                </li>

                                <li>
                                    <a>
                                        <img src="/public/picture/customer8.jpg" />
                                    </a>
                                </li>

                                <li>
                                    <a>
                                        <img src="/public/picture/customer9.jpg" />
                                    </a>
                                </li>

                                <li>
                                    <a>
                                        <img src="/public/picture/customer10.jpg" />
                                    </a>
                                </li>

                                <li>
                                    <a>
                                        <img src="/public/picture/customer11.jpg" />
                                    </a>
                                </li>

                                <li class="margin-none">
                                    <a>
                                        <img src="/public/picture/customer12.jpg" />
                                    </a>
                                </li>

                                <li>
                                    <a>
                                        <img src="/public/picture/customer13.jpg" />
                                    </a>
                                </li>

                                <li>
                                    <a>
                                        <img src="/public/picture/customer14.jpg" />
                                    </a>
                                </li>

                                <li>
                                    <a>
                                        <img src="/public/picture/customer15.jpg" />
                                    </a>
                                </li>

                                <li>
                                    <a>
                                        <img src="/public/picture/customer16.jpg" />
                                    </a>
                                </li>

                                <li>
                                    <a>
                                        <img src="/public/picture/customer17.jpg" />
                                    </a>
                                </li>

                                <li class="margin-none">
                                    <a>
                                        <img src="/public/picture/customer18.jpg" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="h10"></div>
            </div>
            <!-- indexPart_eight -->
            <div class="indexPart_eight">
                <ul>
                    <li>
                        <h2>掌腾总公司</h2>
                        <p>地址：上海市静安区南京西路1038号梅龙镇广场3004~3005
                            <br />电话：021-6287 5088</p>
                    </li>
                    <li>
                        <h2>掌腾分公司</h2>
                        <p>
                            地址：上海市闵行区顾戴路2568号银石科技园1号楼201
                            <br />电话：021-6287 5088
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        {% include '../layout/footer.html' %}
        {% include '../../components/back.html' %}
    </div>

    <script type="text/javascript" src="/public/js/jquery.superslide.2.1.1.js"></script>
    <script type="text/javascript" src="/public/js/nav.js"></script>
    <script type="text/javascript" src="/public/js/home.js"></script>
</body>
</html>