<div class="back-top" id="backTopBtn">
  <img src="/public/images/top.jpg" alt="..">
</div>
<script>
  //返回顶部
  backTop(100);
  function backTop(minHeight) {

    $('#backTopBtn').on('click', function () {
      $('html, body').animate({ scrollTop: 0 }, 700);
    }).hover(function () {
      //$(this).addClass('hover')
    }, function () {
      //$(this).removeClass('hover')
    });

    minHeight ? minHeight = minHeight : minHeight = 600;

    $(window).scroll(function () {
      var s = $(window).scrollTop();

      if (s > minHeight) {
        $('#backTopBtn').fadeIn(100);
      } else {
        $('#backTopBtn').fadeOut(100);
      }
    });
  }
</script>