.imgshow {
    position: relative;
    margin-bottom: 15px;
}

.myart {
    padding: 10px 0;
    width: 100%;
    overflow: hidden;
    height: auto !important;
    min-height: 464px;
    margin: 10px 0;
    line-height: 2rem;
}


/* newsList */

.newsList {
    background: #fff;
    padding: 10px 0;
    width: 100%;
    overflow: hidden;
    line-height: 2rem;
}
.newsList > div {
    display: none;
}
.newsList > div.showdl {
    display: block;
}
.newsList dl {
    border-bottom: 1px dotted #ccc;
    margin-bottom: 15px;
    padding-bottom: 15px;
    min-height: 10px;
}
.newsList dl.last {
    border-bottom: none;
}

.newsList dl:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

.newsList dl dt {
    float: left;
    width: 190px;
    height: 145px;
    overflow: hidden;
    border: 1px solid #DEDCDC;
    margin-bottom: 5px;
    background: #fff;
    -webkit-box-shadow: 1px 2px 2px 0 #DFDFDF;
            box-shadow: 1px 2px 2px 0 #DFDFDF;
    overflow: hidden;
}

.newsList dl dt a {
    display: block;
    width: 100%;
    height: 100%;
}

.newsList dl dt img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.newsList dl dt img:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);        
}

.newsList dl dd {
    float: right;
    width: 500px;
    position: relative;
}

.newsList dl dd h2 a {
    font-size: 17px;
    color: #333;
    font-weight: bold;
}

.newsList dl dd h2 {
    margin-bottom: 10px;
    position: relative;
}
.newsList dl dd h2 a:hover {
    color: #0068B7
}

.newsList dl dd p {
    line-height: 1.8em;
}

.newsList dl dd a.more {
    height: 25px;
    line-height: 25px;
    padding-left: 45px;
    background: url(data:image/gif;base64,R0lGODlhKgANAMQAAAAAAP////7+/v39/fz8/Pv7+83NzczMzMvLy8rKysnJycjIyLW1tbS0tLOzs7KysrGxsXt7e3p6enl5eXh4eHd3d3Z2dv///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAABcALAAAAAAqAA0AAAX/YBAI4liahCAMo1quLquSJGuKgtM4/O4wDoTigDgoDAlFoohgFpeJg1RKwvl4usZjeyMRcNXaaywwuATAbHb7GKhsp1sAzpKJEKerI+CAsKsVNBMiFBQkE4hzhROGdycOD1o8fH4QAQQDExYBiAITKhWcJBScczQCeCWSNCMMrnMBpBMFn4OliKGxFINuAwkvOgwPkw3FDTIVAywUmSITzQKBETMleFUMxRANAsPFDCPQsSQSjYMCEgEVEowtqSxYPTx/MnQwJcpuprAEqSJY3dr8PHhTJR8sMCLs1EBVRYRAefCIGDHQpMmQBVIoEqm4pCKOOCARfpTDKoacGyEAADs=) left center no-repeat;
    color: #666;
    position: absolute;
    bottom: -35px;
    left: 0;
}
.newsList dl dd span.time {
    position: absolute;
    bottom: -35px;
    left: 120px;
    height: 25px;
    line-height: 25px;
}
.newsList dl dd a.more:hover {
    color: #0068B7;
}
.newsList dl:hover dt img {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
}
.newsList dl:hover dd h2 a{
    color: #0068B7;
}
/* .newsList dl:hover dd a.more{
    color: #0068B7;
} */

/* page */

.page {
    margin: 10px 0 20px 0;
}


/* newsDetail */

.newsDetail {
    line-height: 2em;
    padding: 10px 0;
    width: 100%;
    overflow: hidden;
    height: auto;
}

.news_title h2 {
    height: 30px;
    line-height: 30px;
    color: #000;
    font-weight: bold;
    font-size: 18px;
}

.news_title .back {
    float: right;
    width: 60px;
    height: 30px;
    line-height: 30px;
    background: #0068B7;
    color: #fff;
    text-align: center;
}

.news_title .back:hover {
    background: #4D68B7;
}

.news_info {
    text-align: center;
    margin-top: 15px;
    padding: 15px 0 20px 0;
    border-top: 1px dotted #ccc;
}

.news_content {
    padding-bottom: 38px;
}
.news_content .illustration {
    width: 100%;
    text-align: center;
    margin: 10px auto;
}
.news_content .padding {
    margin-left: 40px;
    font-weight: 700;
}
.news_content h2 {
    margin-bottom: 10px;
    color: #0068B7;
    font-size: 16px;
}
.news_content p {
    font-size: 14px;
}
/* share  */

.share {
    float: right;
    padding-top: 15px;
}


/* honor */

.honor {
    width: 725px;
    min-height: 510px;
}

.honor .honor-lists {
    width: 100%;
}

.honor .honor-lists li {
    float: left;
    margin: 20px 20px 32px 0px;
    width: 165px;
}

.honor .honor-lists li.last {
    margin-right: 0;
}

.honor .honor-lists li a {
    width: 165px;
    height: 223px;
    display: block;
}

.honor .honor-lists li a div {
    width: 165px;
    height: 223px;
    position: relative;
    text-align: center;
}

.honor .honor-lists li a div img {
    width: 100%;
    height: 100%;
}

.honor .honor-lists li p {
    height: 40px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    background: #F3F4F4;
    padding: 5px;
}

/* career */
.career {
    min-height: 500px;
    padding-top: 15px;
    border-top: 1px dotted #E3E3E3;
}
.panel-default > .panel-heading {
    height: 40px;
    padding: 0 15px;
}
.panel-default > .panel-heading h4 {
    width: 100%;
    height: 100%;
}
.panel-default > .panel-heading h4 a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
}
.panel-body h1 {
    margin: 10px 0;
}
/* HR-box */
.HR-box {
    padding: 20px 10px;
    border-bottom: 1px solid  #D9D9D9;
}
.HR-box .HR-title {
    height: 40px;
    line-height: 40px;
}
.HR-box .HR-content {}
/* contact */
.contact {
    padding: 20px 10px;
}
#allmap {
    width: 100%;
    height: 310px;
}
#allmap input[type=text] {
  border: 1px solid #DEDCDC;
}
.address {
    margin-top: 20px;
}
.address h1 {
    margin-bottom: 10px;
}
.address p {
    padding: 0 10px;
}

/* video */
.product-video {
    width: 725px;
    margin-top: 15px;
}
.product-video .video-box {
    width: 725px;
}
.product-video .video-box ul {
    width: 100%;
}
.product-video .video-box ul li {
    float: left;
    width: 227px;
    margin: 0 22px 32px 0;
}
.product-video .video-box ul li.last {
    margin-right: 0;
}
.product-video .video-box ul li a {
    width: 227px;
    height: 170px;
    border: 1px solid #dcdcdc;
    display: block;
    padding: 3px;
}
.product-video .video-box ul li a div {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.product-video .video-box ul li a div img {
    width: 100%;
    height: 100%;
}
.product-video .video-box ul li a div span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0.6;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAmCAYAAABH/4KQAAAACXBIWXMAAAsTAAALEwEAmpwYAAAKTWlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVN3WJP3Fj7f92UPVkLY8LGXbIEAIiOsCMgQWaIQkgBhhBASQMWFiApWFBURnEhVxILVCkidiOKgKLhnQYqIWotVXDjuH9yntX167+3t+9f7vOec5/zOec8PgBESJpHmomoAOVKFPDrYH49PSMTJvYACFUjgBCAQ5svCZwXFAADwA3l4fnSwP/wBr28AAgBw1S4kEsfh/4O6UCZXACCRAOAiEucLAZBSAMguVMgUAMgYALBTs2QKAJQAAGx5fEIiAKoNAOz0ST4FANipk9wXANiiHKkIAI0BAJkoRyQCQLsAYFWBUiwCwMIAoKxAIi4EwK4BgFm2MkcCgL0FAHaOWJAPQGAAgJlCLMwAIDgCAEMeE80DIEwDoDDSv+CpX3CFuEgBAMDLlc2XS9IzFLiV0Bp38vDg4iHiwmyxQmEXKRBmCeQinJebIxNI5wNMzgwAABr50cH+OD+Q5+bk4eZm52zv9MWi/mvwbyI+IfHf/ryMAgQAEE7P79pf5eXWA3DHAbB1v2upWwDaVgBo3/ldM9sJoFoK0Hr5i3k4/EAenqFQyDwdHAoLC+0lYqG9MOOLPv8z4W/gi372/EAe/tt68ABxmkCZrcCjg/1xYW52rlKO58sEQjFu9+cj/seFf/2OKdHiNLFcLBWK8ViJuFAiTcd5uVKRRCHJleIS6X8y8R+W/QmTdw0ArIZPwE62B7XLbMB+7gECiw5Y0nYAQH7zLYwaC5EAEGc0Mnn3AACTv/mPQCsBAM2XpOMAALzoGFyolBdMxggAAESggSqwQQcMwRSswA6cwR28wBcCYQZEQAwkwDwQQgbkgBwKoRiWQRlUwDrYBLWwAxqgEZrhELTBMTgN5+ASXIHrcBcGYBiewhi8hgkEQcgIE2EhOogRYo7YIs4IF5mOBCJhSDSSgKQg6YgUUSLFyHKkAqlCapFdSCPyLXIUOY1cQPqQ28ggMor8irxHMZSBslED1AJ1QLmoHxqKxqBz0XQ0D12AlqJr0Rq0Hj2AtqKn0UvodXQAfYqOY4DRMQ5mjNlhXIyHRWCJWBomxxZj5Vg1Vo81Yx1YN3YVG8CeYe8IJAKLgBPsCF6EEMJsgpCQR1hMWEOoJewjtBK6CFcJg4Qxwicik6hPtCV6EvnEeGI6sZBYRqwm7iEeIZ4lXicOE1+TSCQOyZLkTgohJZAySQtJa0jbSC2kU6Q+0hBpnEwm65Btyd7kCLKArCCXkbeQD5BPkvvJw+S3FDrFiOJMCaIkUqSUEko1ZT/lBKWfMkKZoKpRzame1AiqiDqfWkltoHZQL1OHqRM0dZolzZsWQ8ukLaPV0JppZ2n3aC/pdLoJ3YMeRZfQl9Jr6Afp5+mD9HcMDYYNg8dIYigZaxl7GacYtxkvmUymBdOXmchUMNcyG5lnmA+Yb1VYKvYqfBWRyhKVOpVWlX6V56pUVXNVP9V5qgtUq1UPq15WfaZGVbNQ46kJ1Bar1akdVbupNq7OUndSj1DPUV+jvl/9gvpjDbKGhUaghkijVGO3xhmNIRbGMmXxWELWclYD6yxrmE1iW7L57Ex2Bfsbdi97TFNDc6pmrGaRZp3mcc0BDsax4PA52ZxKziHODc57LQMtPy2x1mqtZq1+rTfaetq+2mLtcu0W7eva73VwnUCdLJ31Om0693UJuja6UbqFutt1z+o+02PreekJ9cr1Dund0Uf1bfSj9Rfq79bv0R83MDQINpAZbDE4Y/DMkGPoa5hpuNHwhOGoEctoupHEaKPRSaMnuCbuh2fjNXgXPmasbxxirDTeZdxrPGFiaTLbpMSkxeS+Kc2Ua5pmutG003TMzMgs3KzYrMnsjjnVnGueYb7ZvNv8jYWlRZzFSos2i8eW2pZ8ywWWTZb3rJhWPlZ5VvVW16xJ1lzrLOtt1ldsUBtXmwybOpvLtqitm63Edptt3xTiFI8p0in1U27aMez87ArsmuwG7Tn2YfYl9m32zx3MHBId1jt0O3xydHXMdmxwvOuk4TTDqcSpw+lXZxtnoXOd8zUXpkuQyxKXdpcXU22niqdun3rLleUa7rrStdP1o5u7m9yt2W3U3cw9xX2r+00umxvJXcM970H08PdY4nHM452nm6fC85DnL152Xlle+70eT7OcJp7WMG3I28Rb4L3Le2A6Pj1l+s7pAz7GPgKfep+Hvqa+It89viN+1n6Zfgf8nvs7+sv9j/i/4XnyFvFOBWABwQHlAb2BGoGzA2sDHwSZBKUHNQWNBbsGLww+FUIMCQ1ZH3KTb8AX8hv5YzPcZyya0RXKCJ0VWhv6MMwmTB7WEY6GzwjfEH5vpvlM6cy2CIjgR2yIuB9pGZkX+X0UKSoyqi7qUbRTdHF09yzWrORZ+2e9jvGPqYy5O9tqtnJ2Z6xqbFJsY+ybuIC4qriBeIf4RfGXEnQTJAntieTE2MQ9ieNzAudsmjOc5JpUlnRjruXcorkX5unOy553PFk1WZB8OIWYEpeyP+WDIEJQLxhP5aduTR0T8oSbhU9FvqKNolGxt7hKPJLmnVaV9jjdO31D+miGT0Z1xjMJT1IreZEZkrkj801WRNberM/ZcdktOZSclJyjUg1plrQr1zC3KLdPZisrkw3keeZtyhuTh8r35CP5c/PbFWyFTNGjtFKuUA4WTC+oK3hbGFt4uEi9SFrUM99m/ur5IwuCFny9kLBQuLCz2Lh4WfHgIr9FuxYji1MXdy4xXVK6ZHhp8NJ9y2jLspb9UOJYUlXyannc8o5Sg9KlpUMrglc0lamUycturvRauWMVYZVkVe9ql9VbVn8qF5VfrHCsqK74sEa45uJXTl/VfPV5bdra3kq3yu3rSOuk626s91m/r0q9akHV0IbwDa0b8Y3lG19tSt50oXpq9Y7NtM3KzQM1YTXtW8y2rNvyoTaj9nqdf13LVv2tq7e+2Sba1r/dd3vzDoMdFTve75TsvLUreFdrvUV99W7S7oLdjxpiG7q/5n7duEd3T8Wej3ulewf2Re/ranRvbNyvv7+yCW1SNo0eSDpw5ZuAb9qb7Zp3tXBaKg7CQeXBJ9+mfHvjUOihzsPcw83fmX+39QjrSHkr0jq/dawto22gPaG97+iMo50dXh1Hvrf/fu8x42N1xzWPV56gnSg98fnkgpPjp2Snnp1OPz3Umdx590z8mWtdUV29Z0PPnj8XdO5Mt1/3yfPe549d8Lxw9CL3Ytslt0utPa49R35w/eFIr1tv62X3y+1XPK509E3rO9Hv03/6asDVc9f41y5dn3m978bsG7duJt0cuCW69fh29u0XdwruTNxdeo94r/y+2v3qB/oP6n+0/rFlwG3g+GDAYM/DWQ/vDgmHnv6U/9OH4dJHzEfVI0YjjY+dHx8bDRq98mTOk+GnsqcTz8p+Vv9563Or59/94vtLz1j82PAL+YvPv655qfNy76uprzrHI8cfvM55PfGm/K3O233vuO+638e9H5ko/ED+UPPR+mPHp9BP9z7nfP78L/eE8/sl0p8zAAAABGdBTUEAALGOfPtRkwAAACBjSFJNAAB6JQAAgIMAAPn/AACA6QAAdTAAAOpgAAA6mAAAF2+SX8VGAAAIT0lEQVR42uyY228U1x3Hv7/fmZ2ZvXltY4ytilBuDSRcbWxDyb0FQmlfUEofmpf+DSVPiVqq5KFqyh8CRDz1tRJSREixgGKgIERQC6oMBtb2zu7O9ZxfH87u2ksNm6Ko4iFHGu3M7Oicz/n+rjMkInhZB+MlHi81nLP84ubNm/am42Bubg5XrlzB2rVrMTAwiPn5eeTzPgDJl8uVrSJmf19fZSKXy40WCoVRESEikmYznE2SZDYIFqcBPh8EwU1AwiiK0N/fj4WFedy//2/s3r0Lw8PDyLIMALB165bnwz1vaK2V67pHV68e/mBwYNW+UqnsKscK3/ZbgWDVKh4yxmzXWh+sB/Vkfn7+wtyjh180Go2zAPQLK/cMKIiYsfXrN3y0bt36d/K+RwKB1hpZlnXAIIA9yzoeU670ueVy5e3h4TVv3bv/r6NBPfjcGHP5O4HTWsPzvF9u2rT5D4ODqwa11kizBGIA0HIgAYSwFPgCQQadAUQMx8nRpo0/erc6X93ZqNd/r7U+8z/DEVHn1xiNkZGRX42NTfypUql4SZwAIAjIEsmSOS1Oi1jEAgsgAhijO8/1V/oHt722489BUGdjzKn2es8atHyBGzdudM7jODo2MvqDk5W+/lyapFiuScvRINI9ecf3RLrBjbH7EYFSDmq1xbQ6//i3hUL+dPuZ119/7fnKNZvNtnI7Vg+NnCiXKrk4TkAguxhJR522fAJYMy8DFJGW+kt/GBGIMdA6QalUzqVpcqLeWLzFrGaeVQi68hwzQ0ScfL7wSX9//2CapNY8RiAQiAEYDN/Pg0jB6JXBnlbRGGPVE7udJElQKlcGmXOfCMRh5t5wruvCcXJHVw2uftMYAxFjF4RAjEApxpPqY1y/fg2O4yBfKKxsxtZ1N6idp+0VxhiUSpU3ITjqum5vuCAIisVi+Vgu55LWBsZI10KO4+Lx40f49NPf4eTJP+LatavwPR/5fAGseEXl7Byw/imAEQNj7OHkcpTL+cdqQa3YM1rTNN3i+/7Ecn952smVcpCmKc6d+yv+dvFrjI2N49ChI9i+bSf8Yh5h2Oxk/XbkdykrS0FCzNCaJpqNcAuAS8+F6ytX9vuu79nEK13pZfnI5RwoVQIAfP3VeUxfvIidO3fh4MHD2L17HKVSGc1mA0vzyFJQoKVky2xxoj3m3P6ecI5yJohVV5St5OzLA6hYKkFrjUuXpjEzcxVbtm7F4fd/jrGxPSiVygjDEGma2I0CsDMbMBOSJEMYJkgyM9HTrAIasSaVLpM8L1mKCJgZpVIJWZbhxvUZ3Lh+DZs3v4qDhw5jz/gU+vr6EIYhkiwBC0GIkSQpnszXACKkqR7pCef7+dF2Rl8JiJnwLE7rjwr5vI3gO3du4/btW9i0+VW8/dZ7mJycgp8vIMoSRGGMZjOC1gLHUSj4+dGecFprIjy1OlkFiQiZ1kjS1OY2IXusjIq8X4A2Gf5x4xqu/v0KJib24dcf/galcgVRnALEyDkEMYLYrDxRFxwrFtOp6q17xNDaII4TcJwhjlIICEaWchY9tRmAEUUR0jTDD9dvwt69b2B8fBJ9lQqMNsg5DozRyLQNEM91pCdcGIaz/ZWBIWMyENkUGMUx4jiFGINiyYHjKFCLodMowJY1YzTiOIExBq+8sg7vvPsTTEzuw+DAoJ0nigG2VtAaADQMKcRpMtu7ZRI8MMZsZ7btTxhGyLIUSjngnIKjHDBzy8wA0VINDcMQIIWNGzfiwE/fx9TUXpTKfUiiGHEcQYxGTjEyArS2QdSqFfA950FvnzPJtNH6ADGj2QwhEDiOBWImKKWgmCFkmwARjTCMW232Nhw4eAiTk3vRV66g0WwgikKIkc6GDAyEbEIh0iBiaK3BjOmecPV6cL5RasTK8TxbrhhKqc7kSimwImidImyGcF0P23fsxuHDR7BnfAKFYhFxFKHZaACEzkaI0ElPCgISRgarvNZZHEXN8z3hPM+9VW82pssl5w0LZhVjJhATlGKboIUwOfVjHPnZLzA+vgeu6yKOI4RhCDEaylEADAxxB8q2Wx0bQYGQaQFRNl0o5G/1hCuX+xphMzytdbbfc/NkwbhzaK2xamgIH398Art27YKf9xE2mwijBggEZgDENoiNAlgvxfKy6LaVhhAniYhkpyuVSqNnVxLHMYhxtl5f/FK1nZ8ZTC04k2F49RpM7Z0Ccas5JbTMzVDM4LbaisBs3YAVg6llAWptWDEazdqXrHA2iqPeLZPt4ZCJyT6r1RaqruuCiUGKoZT1OcAgCpvo9kmCUoQupVvXim0QMSsQWXDXdVEPalWC+QygbKVa/l9whUIBhUIBxVJhpt5YPFGr1VLP88C8VCWIrSKqFSRtNYhoSTUmEBjE7ZQDEAuYAdf1UAtqaTOsnSgWCzO+5yPv53vDKaWglILn+Yii8PSFC+eP12oLsed6QCe3WUBiAregbOCoLlBiW12ofQ8E1/MQBLX44sWvjkdRdNpunPGt2vTlXS8z49HjuVNXr145Xq0+qXqu28p5tvoykfXHzkEds7XP0YZ3HHiuh2r1SXXm2pXjc3OPTrXeV178pVophTRLz9z55s43jx7PfbRhw8Z3isUi2YltDbZVglstlsAYBmBN6DgErQWNRkPu3r17LggWP0/T9LL13e/gc0QrAV++e/fOh4uLC0fXrBn9YHh49b5KpeLmXIWnuxilbMJN0wTz87Vkbu7RhYcPH3xRrVbPDg0N6WeZ8IXglhZ1dJIkZ+7d++dfgmBhqzGyf2BgYMLzvNFisThq+wCSIAhm4zieXVhYmCai84uLCzdFKPy2aj3zjf/7j4ffw/0fxn8GAEx4c+JFdItiAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-position: center center;
    display: none;
}
.product-video .video-box ul li p {
    padding: 5px;
    background: #F3F4F4;
    line-height: 16px;
    font-size: 14px;
    color: #333;
    text-align: center;
    margin-top: 5px;
    text-align: center;
}

/* content-lists */
.product-index {
    margin-top: 15px;
}
.content-lists {
    padding: 0 10px;
}

.content-lists .content-list {
    margin-bottom: 15px;
}
.content-list .list-name {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #EEE;
}
.content-list .list-image {
    width: 100%;
    margin: 10px auto;
    text-align: center;
}

.content-list .list-txt {}
.content-list .list-txt .weight {
   font-weight: 700;
}
.content-list .list-txt .padding {
    padding-left: 40px;
 }
.product-items .news_title {
    margin-bottom: 20px;
}
.product-items .news_title h2 {
    color: #4D68B7;
}

/* main-team */
.main-team {
    padding-top: 20px;
}
.main-team ul .team {
    margin-bottom: 20px;
}
.team .team-image {
    width: 200px;
    height: 200px;
}
.team .team-image img {
    width: 100%;
    height: 100%;
}
.team .team-content {
    width: 461px;
    padding: 30px 10px;
}
.team .team-content .name {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ccc;
    font-weight: 600;
    font-size: 22px;
}
.team .team-content .name-title{
    margin: 20px 0;
    font-weight: 600;
    font-size: 18px;
}
.team .team-content .txt{
    
}