.indexBg {
    background: url(/public/images/indexbg.jpg)
}
.wrapper {
    width: 100%;
    position: relative;
}
/* public-className */
.auto-wrapper {
    width: 1200px;
    margin: 0px auto;
}
.tabContentDiv .tabContent {
    display: block;
}
/* indexFlash */
.indexFlash {
    height: 600px;
    position: relative;
    background: #000;
    overflow: hidden;
}
.indexFlash li .li-div {
    display: block;
    height: 600px;
    position: relative;
    overflow: hidden;
}

.li_01 .li-div {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/public/images/1920.png)
}
.li_01 .li-div .bg {
    transition: All 1s cubic-bezier(0, 0, 0.35, 1.01);
    background-repeat: no-repeat;
    background-position: center;
    width: 565px;
    height: 302px;
    position: absolute;
    left: 50%;
    margin-left: -288px;
    background-image: url(/public/images/li_01-1.png);
    top: -400px;
}
.li_01 .li-div .img_one {
    transition: All 1s ease 0.8s;
    background-repeat: no-repeat;
    background-position: center;
    width: 154px;
    height: 277px;
    position: absolute;
    left: 50%;
    margin-left: -678px;
    top: 114px;
    background-image: url(/public/images/li_01-2.png);
    opacity: 0;
}
.li_01 .li-div .img_two {
    transition: All 1s ease 0.8s;
    background-repeat: no-repeat;
    background-position: center;
    width: 247px;
    height: 233px;
    position: absolute;
    left: 50%;
    margin-left: -124px;
    bottom: -51px;
    background-image: url(/public/images/li_01-3.png);
    opacity: 0;
}
.li_01 .li-div .img_three {
    transition: All 1s ease 0.8s;
    background-repeat: no-repeat;
    background-position: center;
    width: 155px;
    height: 274px;
    position: absolute;
    right: 50%;
    margin-right: -678px;
    top: 113px;
    background-image: url(/public/images/li_01-4.png);
    opacity: 0;
}
.li_01 .li-div .ani-txt {
    /* width: 180px; */
    width: 2px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    line-height: 40px;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    top: 50%;
    margin-top: -20px;
    z-index: 999;
    opacity: 0;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 18px;
}
.li_01 .li-div .img_two .ani-txt {
    transition: All 0.4s ease-out 2.8s;
}
.li_01 .li-div .img_three .ani-txt {
    transition: All 0.4s ease-out 3.6s;
}
.li_01 .li-div .img_one .ani-txt {
    transition: All 0.4s ease-out 4.4s;
}
.li-div .ani-txt span {
    display: inline-block;
    height: 40px;
    color: #fff;
    line-height: 40px;
    
}
.li_01 .li-div .img_two .ani-txt span {
    width: 90px;
    opacity: 0;
    transition: All 0.3s ease 3.2s;
}
.li_01 .li-div .img_three .ani-txt span {
    width: 108px;
    opacity: 0;
    transition: All 0.3s ease 4s;
}
.li_01 .li-div .img_one .ani-txt span {
    width: 108px;
    opacity: 0;
    transition: All 0.3s ease 4.8s;
}

.li_01.on .li-div .ani-txt  {
    width: 180px;
    opacity: 1;
    background: #333;
    margin-left: -90px;
}
.li_01.on .li-div .img_two .ani-txt span {
    opacity: 1;
}
.li_01 .li-div .img_three .ani-txt span {
    opacity: 1;
}
.li_01 .li-div .img_one .ani-txt span {
    opacity: 1;
}

.li_01.on .li-div .bg {
    top: 30px;
    opacity: 1;
}

.li_01.on .li-div .img_one {
    opacity: 1;
    margin-left: -598px;
}

.li_01.on .li-div .img_two {
    opacity: 1;
    bottom: 29px;
}
.li_01.on .li-div .img_three {
    opacity: 1;
    margin-right: -598px;
}

.li_04 .li-div {
    background:url(/public/images/img1920_4.jpg) center no-repeat;
}
.li_04 .li-div .bg {
    transition: All 1.5s ease;
    position: absolute;
    right: 50%;
    margin-right: -780px;
    top: 0;
    width: 800px;
    height: 600px;
    background: url(/public/images/indexflash_03.gif) center top no-repeat;
    opacity: 0;
}

.li_04 .li-div .img_one {
    transition: All 1.5s ease 0.4s;
    position: absolute;
    width: 595px;
    height: 112px;
    left: 50%;
    margin-left: -650px;
    top: 168px;
    opacity: 0;
}
.li_04 .li-div .img_one h3 {
    height: 56px;
    line-height: 56px;
    font-size: 52px;
    color: #fff;
    font-weight: 700;                                         
}
.li_04 .li-div .img_one p {
    height: 32px;
    line-height: 32px;
    font-size: 28px;
    color: #fff;
    margin-top: 26px;
}
.li_04 .li-div .img_two {
    transition: All 1.5s ease 1s;
    position: absolute;
    width: 200px;
    height: 50px;
    bottom: 100px;
    left: 50%;
    margin-left: -550px;
    opacity: 0;
    border: 1px solid #fff;
    line-height: 48px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.li_04.on .li-div .bg {
    opacity: 1;
    margin-right: -680px;
}

.li_04.on .li-div .img_one {
    opacity: 1;
    margin-left: -550px;
}

.li_04.on .li-div .img_two {
    opacity: 1;
    bottom: 196px;
}

.indexFlash .prev {
    display: block;
    background: url(/public/images/prev.png) center no-repeat;
    width: 29px;
    height: 60px;
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    margin-top: -30px;
    margin-left: -600px;
}
.indexFlash .next {
    display: block;
    background: url(/public/images/next.png) center no-repeat;
    width: 29px;
    height: 60px;
    position: absolute;
    z-index: 10;
    right: 50%;
    top: 50%;
    margin-top: -30px;
    margin-right: -600px;
}

.indexFlash .btnDiv {
    position: absolute;
    z-index: 10;
    left: 0px;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.indexFlash .btnDiv span {
    display: inline-block;
    background: url(/public/images/ico4.png) center no-repeat;
    width: 16px;
    height: 8px;
}

.indexFlash .btnDiv span.on {
    background: url(/public/images/ico4on.png) center no-repeat;
}

/* indexFlash End*/

/* indexPart_one */

.indexPart_one {
    width: 100%;
    height: 475px;
    position: relative;
}

.indexPart_one ul {
    position: relative;
}

.indexPart_one ul li {
    margin-right: 8px;
    float: left;
    text-align: center;
    background: url(/public/images/indexpart1.png) left top no-repeat;
    width: 294px;
    height: 300px;
    position: relative;
    top: 110px;
    transition: All 0.5s ease;
}
.indexPart_one ul li:last-child {
    margin-right: 0;
}
.indexPart_one ul li h2 {
    font-weight: 400;
    font-size: 22px;
    padding: 30px 0 15px 0;
    position: relative;
    top: -10px;
    margin: 20px 0 10px;
}

.indexPart_one ul li .img {
    height: 80px;
}

.indexPart_one ul li .img_hide {
    display: none;
}

.indexPart_one ul li p {
    line-height: 22px;
    color: #37383a;
    font-size: 12px;
    position: relative;
    top: -20px;
    left: 5px;
    font-family: 微软雅黑;
}
.indexPart_one ul li .img img {
    position: relative;
    top: -17px;
}

.indexPart_one li:hover {
    background: url(/public/images/indexpart1on.png) left top no-repeat;
    top: 60px;
}
.indexPart_one li:hover h2 {
    color: #FFF;
}
.indexPart_one li:hover .img {
    display: none;
}
.indexPart_one li:hover .img_hide {
    display: block;
}


.indexPart_one li.on {
    background: url(/public/images/indexpart1on.png) left top no-repeat;
    top: 60px;
}

.indexPart_one li.on h2 {
    color: #FFF;
}

.indexPart_one li.on .img {
    display: none;
}

.indexPart_one li.on .img_hide {
    display: block;
}



/* indexPart_one End */

/* indexPart_two */
.indexPart_two .title {
    background: url(/public/images/title1.png) center no-repeat;
    text-align: center;
    line-height: 55px;
    font-size: 22px;
}

.indexPart_two .title span {
    color: #008ece;
    font-size: 29px;
    padding-right: 6px;
}

.indexPart_two .tab {
    height: 90px;
    line-height: 90px;
    font-size: 16px;
    position: relative;
    top: -7px;
}
.indexPart_two .tab ul {
    text-align: center;
}
.tab ul > li {
    display: inline-block;
    width: 135px;
    height: 90px;
    text-align: left;
}

.tab ul > li img {
    float: left;
    margin-right: 3px;
    position: relative;
    top: 30px;
}

.tab ul > li img.on {
    display: none;
}

.tab ul > li.liNow {
    color: #008ece;
}

.tab ul > li.liNow img {
    display: none;
}

.tab ul > li.liNow img.on {
    display: block;
}

.indexPart_two .list {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.indexPart_two .list ul {
    width: 100%;
}

.list ul > li {
    float: left;
    width: 387px;
    height: 418px;
    margin-right: 13px;
}

.list ul > li .imgDiv {
    background: #008ece;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.list ul > li .imgDiv a img {
    transition: All 0.5s ease;
}
.list ul > li .name {
    font-size: 16px;
    padding: 12px 0 6px 0;
}

.list ul > li .txt {
    line-height: 21px;
    color: #666;
    display: block;
}

.list ul > li:hover a {
    color: #008ece;
}
.list ul > li:hover a img {
    transform: scale(1.1);
}
.list ul > li.on a {
    color: #008ece;
}

.list ul > li.on a img {
    transform: scale(1.1); 
}
.indexPart_two .h10 {
    height: 70px;
    background: url(/public/images/line.png) center 10px no-repeat;
}

/* indexPart_two End*/


.indexPart_av {
    width: 570px;
    min-height: 510px;
}
.pageTitle {
    height: 58px;
    border-bottom: #333 solid 1px;
    position: relative;
}

.pageTitle .name {
    line-height: 58px;
    font-size: 25px;
}

.pageTitle .name span {
    color: #008ece;
    font-size: 38px;
    padding-right: 6px;
    position: relative;
    top: 3px;
}

.pageTitle .tab {
    position: absolute;
    right: 0px;
    bottom: -1px;
}

.pageTitle .tab li {
    float: left;
    height: 39px;
    line-height: 36px;
    font-size: 18px;
    margin-left: 10px;
    padding: 0 6px;
}

.pageTitle .tab .liNow {
    border-bottom: #008ece solid 3px;
    color: #008ece;
}

.pageTitle .more {
    line-height: 38px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 18px;
    letter-spacing: 3px;
}

/* indexPart_three */

.indexPart_three {}
.content_about .content {
    font-size: 14px;
    line-height: 30px;
    text-align: justify;
    padding-top: 25px;
    letter-spacing: 1px;
}

.content_about .content .img {
    float: left;
    position: relative;
    top: -2px;
}

.content_about .content .txt {
    width: 295px;
}

.content_about .content p {
    clear: both;
}
#content_about {}
#content_team,
#content_cultrue {
    display: none;
}

.content_about .btn {
    clear: both;
    text-align: center;
    padding-top: 5px;
}

.content_about .btn a {
    display: inline-block;
    width: 117px;
    height: 27px;
    line-height: 27px;
    border: #aaa solid 1px;
    letter-spacing: 2px;
    font-family: 微软雅黑;
}

.content_about .btn a:hover {
    background: #008ece;
    border: #008ece solid 1px;
    color: #FFF;
}
/* indexPart_three End*/

/* indexPart_fourth */
.indexPart_fourth {}
.list-news ul > li {
    height: 122px;
    position: relative;
    background: url(/public/images/line2.png) bottom repeat-x;
}
.list-news ul > li .time-box {
    width: 95px;
    height: 122px;
    position: relative;
}
.list-news ul > li .time-box .time {
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 16px;
    padding: 23px 0 43px;
    background-image: url(/public/images/ico2.png);
    background-repeat: no-repeat;
    background-position: center bottom
}
.list-news ul > li .new-box {
    width: 470px;
    height: 122px;
}
.list-news ul > li .new-box .name {
    margin: 25px 0 10px;
}

.list-news ul > li .new-box .name a {
    display: block;
    line-height: 18px;
    font-size: 17px;
    color: #666;
}
.list-news ul > li .new-box .txt {
    height: 48px;
    display: block;
    color:#666;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 3px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
/* .list-news ul > li .new-box .txt:after {
    content: "...";
    font-weight:bold;
    position: absolute;
    bottom:0;
    right: 0;
    padding: 0 20px 1px 45px;
} */
.list-news ul > li:hover .time {
    background-image: url(/public/images/ico2on.png);
}
.list-news ul > li:hover .time a,
.list-news ul > li:hover .new-box .name a, 
.list-news ul > li:hover .new-box .txt {
    color: #008ece;
}

/* indexPart_fourth End */


/* indexPart_six */
.indexPart_six {
    width: 100%;
    height: 620px;
    overflow: hidden;
    position: relative;
    margin: 80px auto;
    background: #d3d3d3 url(/public/images/indexpart6.jpg) center no-repeat;
    display: none;
}
.indexPart_six .title {
    padding-top: 32px;
    font-size: 25px;
}

.indexPart_six .title span {
    color: #008ece;
    font-size: 38px;
}
/* indexPart_six End*/

/* indexPart_seven */
.indexPart_seven {
    /* margin-top: -70px; */

}

.indexPart_seven .title {
    background: url(/public/images/title2.png) center no-repeat;
    text-align: center;
    line-height: 160px;
    font-size: 25px;
    position: relative;
    top: 20px;
}

.indexPart_seven .title span {
    color: #008ece;
    font-size: 38px;
    padding-right: 6px;
}

.indexPart_seven .msg {
    text-align: center;
    font-size: 14px;
}

.indexPart_seven .msg div {
    font-size: 12px;
    padding: 6px 0 30px 0;
}

.indexPart_seven .info {
    width: 998px;
    height: 105px;
    margin: 0 auto;
    margin-bottom: 75px;
    overflow: hidden;
    border: #a0a0a0 solid 1px;
    position: relative;
}

.indexPart_seven .info ul {
    margin-right: -2px;
}

.indexPart_seven .info ul li {
    float: left;
    width: 33.333%;
    height: 82px;
    text-align: center;
    font-size: 22px;
    line-height: 29px;
    background: url(/public/images/indexpart7.png) right center no-repeat;
    padding-top: 23px;
    letter-spacing: 2px;
}

.indexPart_seven .info ul li span {
    font-weight: bold;
    color: #008ece;
}
.indexPart_seven .h10 {
    height: 170px;
    background: url(/public/images/line.png) center no-repeat;
}
.wrap {
    width: 804px;
    margin: 0 auto;
}
.indexCustomer .box {
    height: 300px;
}
.indexCustomer .box ul {
    margin-right: -2px;
}
.indexCustomer .box ul li {
    float: left;
    width: 201px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    border-right: #666 1px dashed;
    border-bottom: #666 1px dashed;
    transition: .2s;
    /* -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1); */
}
.indexCustomer .box ul li.border-right {
    border-right: none;
}
.indexCustomer .box ul li.border-bottom {
    border-bottom: none;
}

.indexCustomer .box ul li.now {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: none;
}

.indexCustomer .box ul li a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
}

.indexCustomer .box ul li:nth-child(1) a {
    background-image: url('/public/picture/customer1.png');
    background-size: 142px 50px;
}
.indexCustomer .box ul li:nth-child(1) a:hover {
    background-image: url('/public/picture/customer1on.png');
}
.indexCustomer .box ul li:nth-child(2) a {
    background-image: url('/public/picture/customer2.png');
    background-size: 142px 50px;
}
.indexCustomer .box ul li:nth-child(2) a:hover {
    background-image: url('/public/picture/customer2on.png');
}
.indexCustomer .box ul li:nth-child(3) a {
    background-image: url('/public/picture/customer3.png')
}
.indexCustomer .box ul li:nth-child(3) a:hover {
    background-image: url('/public/picture/customer3on.png')
}
.indexCustomer .box ul li:nth-child(4) a {
    background-image: url('/public/picture/customer4.png')
}
.indexCustomer .box ul li:nth-child(4) a:hover {
    background-image: url('/public/picture/customer4on.png')
}
.indexCustomer .box ul li:nth-child(5) a {
    background-image: url('/public/picture/customer7.png')
}
.indexCustomer .box ul li:nth-child(5) a:hover {
    background-image: url('/public/picture/customer7on.png')
}
.indexCustomer .box ul li:nth-child(6) a {
    background-image: url('/public/picture/customer5.png');
    background-size: 142px 50px;
}
.indexCustomer .box ul li:nth-child(6) a:hover {
    background-image: url('/public/picture/customer5on.png');
}
.indexCustomer .box ul li:nth-child(7) a {
    background-image: url('/public/picture/customer6.png')
}
.indexCustomer .box ul li:nth-child(7) a:hover {
    background-image: url('/public/picture/customer6on.png')
}

/* indexPart_eight End*/

/* indexPart_eight*/
.indexPart_eight {
    width: 1020px;
    height: 120px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.indexPart_eight ul {
    width: 100%;
}

.indexPart_eight ul li {
    float: left;
    position: relative;
    height: 120px;
    background: url(/public/images/indexpart8.gif) left 3px no-repeat;
    padding: 0 60px;
}

.indexPart_eight ul li h2 {
    font-size: 16px;
    padding-bottom: 5px;
    width: 390px;
    margin-top: 0px;
    font-size:16px;
    color:#37383a;
    font-weight: bold;
}

.indexPart_eight ul li p {
    font-size: 14px;
    line-height: 20px;
    width: 390px;
    font-size:14px;
    color:#37383a;
}
/* indexPart_eight End*/










