{% extends './product_layout.html' %}
{% block product %}
<div class="imgshow">
  <img src="/public/images/guanli.png"/>
</div>
<div class="newsDetail product-items">
  <div class="news_title">
      <h2>管理系统方案</h2>
  </div>
  <div class="detail">
    <ul class="content-lists">
        <li class="content-list">
            <h1 class="list-name">
                <strong>基本概念</strong>  
            </h1>
            <div class="list-image">
                <img src="/public/images/20170216141423_9945.jpg" width="400" height="295" alt="">
            </div>
            <div class="list-txt">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;掌腾ZOA系统是一套专门为工作区域管理及企业员工管理而设计的基于掌静脉技术的综合管理系统。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;该系统的特性为科技感强、便捷、高效、安全、统一规划统一处理，多终端支持配合的完美区域化管理。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;强大的后台功能，可以帮助管理者直观、便捷的查看到每个时间段中发生的所有变化及问题情况处理。</p>
            </div>
        </li>
        <li class="content-list">
            <h1 class="list-name">
                <strong>强大系统</strong>  
            </h1>
            <div class="list-image">
                <img src="/public/images/20170216141514_9530.jpg" width="400" height="295" alt="">
            </div>
            <div class="list-txt">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;用户的身份自定义设置，并且绑定对应的身份特权，不同的身份用户可以享受到不同的特权待遇。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;功能系统的全面涵盖到各类行业的基础管理功能，可以在基础功能上制定新的功能方案，完美兼容。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;安全稳定的财务管理和识别系统，是ZOA的重中之重，完美运行，高效稳定。</p>
            </div>
        </li>
        <li class="content-list">
            <h1 class="list-name">
                <strong>配套设施</strong>  
            </h1>
            <div class="list-image">
                <img src="/public/images/20170216141658_1898.jpg" width="400" height="295" alt="">
            </div>
            <div class="list-txt">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;涵盖双版本移动端及PC端的软件配套，核心的高新科技掌静脉辅助硬件支撑。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;视觉上冲击与功能上强大的完美配合使得ZOA更加具备新时代区域及人员管理的完美条件。</p>
            </div>
        </li>
    </ul>
  </div>
</div>
{% endblock %}