{% extends './news_layout.html' %}
{% block news %}
<div class="newsDetail">
    <div class="news_title">
        <a href="{{url+'?page='+page}}" class="back">返回</a>
        <h2>{{content.title}}</h2>
    </div>
    <div class="news_info">
        添加日期：{{content.addTime|date('Y-m-d', -8*60)}}
    </div>
    <div class="news_content pc_news_content">
        {{content.content}}
    </div>
    <div class="dotted"></div>
    <div class="share" style="padding-top:15px;text-align: center">
        <div class="social-share"></div>
    </div>
    <script type="text/javascript" charset="utf-8" src="/public/libs/share.js-master/dist/js/social-share.min.js"></script>
</div>
{% endblock%}

