{% extends './news_layout.html' %}
{% block news %}
<div class="newsDetail">
    <div class="news_title">
        <a href="{{url+'?page='+page}}" class="back">返回</a>
        <h2>{{content.title}}</h2>
    </div>
    <div class="news_info">
        添加日期：{{content.addTime|date('Y-m-d', -8*60)}}
    </div>
    <div class="news_content">
        {{content.content}}
    </div>
    <div class="dotted"></div>
    <div class="share fr" style="padding-top:15px;">
        <div class="bshare-custom">
            <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
            <a title="分享到QQ空间" class="bshare-qzone"></a>
            <a title="分享到人人网" class="bshare-renren"></a>
            <a title="分享到腾讯微博" class="bshare-qqmb"></a>
            <a title="分享到网易微博" class="bshare-neteasemb"></a>
            <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
            <span class="BSHARE_COUNT bshare-share-count">0</span>
        </div>
    </div>
    <script type="text/javascript" charset="utf-8" src="/public/libs/share/buttonlite.js"></script>
    <script type="text/javascript" charset="utf-8" src="/public/libs/share/bsharec0.js"></script>
    <script type="text/javascript" charset="utf-8">
        bShare.addEntry({
            title: document.title,
            url: location.href,
            summary: $('#news_content p').eq(0).text(),
            pic: window.location.hostname + $('#news_content img').eq(0).attr(
                'src')
        });
    </script>
</div>
{% endblock%}

