{% extends '../layout/layout.html' %}
{% block link %}
    {% block _link %}{% endblock %}
{% endblock %}

{% block content %}
<div class="about-contents" id="honor-wrapper">
    <div class="n_cont">
        <div class="wrap clearfix">
            <article class="oh">
                {% block mainContent %}{% endblock %}
                <aside>
                    <div class="T">
                        掌腾权威证书
                        <em>Honor</em>
                    </div>
                    <ul class="aside_menu">
                        <li>
                            <a href="/honor/honor">专利技术</a>
                        </li>
                    </ul>
                </aside>
            </article>
            <div id="rightText">
                <div class="top">
                    <strong> Technology </strong>
                    changes
                    <strong> World</strong>
                </div>
                <div class="bottom">
                    <strong> Palm Vein </strong> changes
                    <strong>Life</strong>.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script>
        function handleHref () {
            var href = window.location.href;
            var a = href.lastIndexOf('/')+1;
            var b = href.lastIndexOf('?');
            var str = '';
            
            if (b !== -1) {
                str = href.substring(a, b);
            } else {
                str = href.substring(a);
            }
            return str;
        }
        var params = handleHref();
        switch(params) {
            case 'honor':
            $('.aside_menu >li').eq(0).addClass('cur')
            break;
            default:
            $('.aside_menu >li').eq(0).addClass('cur')
        }
    </script>
    {% block _script %}{% endblock %}
{% endblock %}