<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>掌腾官网后台登录系统</title>
  <link rel="stylesheet" href="/public/css/admin.css">
</head>
<body>
  <div class="login">
    <form id="form">
      <div class="logo"></div>
      <div class="login_form">
        <div class="user">
            <input class="text_value" value="" name="username" type="text" id="username">
              <input class="text_value" value="" name="password" type="password" id="password">
          </div>
          <button class="button" id="submit" type="submit">登录</button>
      </div>
      <div id="tip"></div>
      <div class="foot">
        Copyright © 2016-2018  All Rights Reserved. 上海掌腾信息科技有限公司</a>
      </div>
    </form>
  </div>
  <script src="/public/js/jquery-1.10.1.min.js"></script>
  <script src="/public/libs/bootstrap/js/bootstrap.min.js"></script>
  
  <script>
    $('#form').on('submit', function(event){
      $.ajax({
        type: "post",
        url: "/api/user/login",
        data: {
          username: $('#username').val(),
          password: $('#password').val()
        },
        dataType: "json",
        success: function(data) {
          console.log(data)
          if(!data.code) {
            window.location.href= "/admin"
          } else {
            
          }
        },
        error: function(){

        }
      })
      return false;
    })
  </script>
</body>
</html>