{% extends './layout.html' %}
{% block main %} 
<ol class="breadcrumb">
    <li><a href="/user">用户管理</a></li>
    <li><span>添加用户</span></li>
</ol>
<form method="post">
    <div class="form-group">
        <label for="username">用户名</label>
        <input type="text" value="" class="form-control" name="username" id="username" placeholder="用户名">
    </div>
    <div class="form-group">
        <label for="password">密码：</label>
        <input type="password" value="" class="form-control" name="password" id="password" placeholder="密码">
    </div>
    <div class="form-group">
        <label for="repassword">重复密码：</label>
        <input type="password" value="" class="form-control" name="repassword" id="repassword" placeholder="重复密码">
    </div>
    <button type="submit" class="btn btn-default">确认添加</button>
</form>
{% endblock %}