{% extends './layout.html' %}
{% block main %} 
<ol class="breadcrumb">
    <li><a href="/user">用户管理</a></li>
    <li><span>修改密码</span></li>
</ol>
<form method="post">
    <div class="form-group">
        <label for="oldpassword">旧密码：</label>
        <input type="password" value="" class="form-control" name="oldpassword" id="oldpassword" placeholder="旧密码">
    </div>
    <div class="form-group">
        <label for="password">新密码：</label>
        <input type="password" value="" class="form-control" name="password" id="password" placeholder="新密码">
    </div>
    <button type="submit" class="btn btn-default">确认修改</button>
</form>
{% endblock %}