{% extends './contact_layout.html' %}
{% block _link %}
<link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
<style>
    #BMapLib_transBox0 table tbody tr >td:first-child{
        width: 38px;
        padding: 0;
    }
    #BMapLib_transBox0 table tbody tr >td:last-child{
        width: 112px;
        padding: 0;        
    }
</style>
{% endblock %}
{% block mainContent %}
<div class="main">
  <div class="channelT pr">
      <h1 class="l N">联系我们</h1>
      <div id="switcher" class="r switcher">
          <a class="ico ico5_1" id="big"></a>
          <a class="ico ico5_2"></a>
          <a class="ico ico5_3" id="small"></a>
      </div>
  </div>
  <div class="contact">
      <div id="allmap"></div>
  </div>
  <div class="address">
      <h1>
          <strong>公司地址：</strong>
      </h1>
      <p>公司总部：上海市静安区南京西路1038号梅龙镇广场</p>
      <p>公司分部：上海市闵行区顾戴路2568号银石科技园</p>
      <p>公司电话：(021)62875088</p>
      <p>邮编：200000</p>
  </div>
  <div class="address">
    <h1>
        <strong>乘车路线：</strong>
    </h1>
    <p>地铁12号线南京西路站（4号口）下车</p>
    <p>71路上海展览中心站下车</p>
    <p>地铁1号线陕西南路站下车</p>
  </div>
</div>
{% endblock%}
{% block _script %}
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=uwm9oGal8zyAkpV3D8wNiOpuS1aBZOGt"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
<script>
  // 百度地图API功能
  var map = new BMap.Map('allmap');
  var poi = new BMap.Point(121.463283,31.235263);
  map.centerAndZoom(poi, 16);
  map.enableScrollWheelZoom();
  var content = '<div style="margin:0;line-height:20px;padding:2px;">' +
                  '<img src="/public/images/baidu.jpg" alt="" style="float:right;zoom:1;overflow:hidden;width:100px;height:100px;margin-left:3px;"/>' +
                  '地址：上海市静安区南京西路1038号梅龙镇广场<br/>电话：(021)62875088<br/>简介：掌腾总部' +
              '</div>';

  //创建检索信息窗口对象
  var searchInfoWindow = null;
  searchInfoWindow = new BMapLib.SearchInfoWindow(map, content, {
          title  : "掌腾总部",      //标题
          width  : 290,             //宽度
          height : 105,              //高度
          panel  : "panel",         //检索结果面板
          enableAutoPan : true,     //自动平移
          searchTypes   :[
              BMAPLIB_TAB_SEARCH,   //周边检索
              BMAPLIB_TAB_TO_HERE,  //到这里去
              BMAPLIB_TAB_FROM_HERE //从这里出发
          ]
      });
  var marker = new BMap.Marker(poi); //创建marker对象
  marker.enableDragging(); //marker可拖拽
  marker.addEventListener("click", function(e){
      searchInfoWindow.open(marker);
  })
  searchInfoWindow.open(marker);
  map.addOverlay(marker); //在地图中添加marker
</script>
{% endblock %}
