{% extends './about_layout.html' %}
{% block mainContent %}
<div class="main">
    <div class="channelT pr">
        <h1 class="l N">核心团队</h1>
        <div id="switcher" class="r switcher">
            <a class="ico ico5_1" id="big"></a>
            <a class="ico ico5_2"></a>
            <a class="ico ico5_3" id="small"></a>
        </div>
    </div>
    <div class="main-team">
        <ul>
            <li class="team clearfix">
                <div class="team-image fl">
                    <img src="/public/images/lyh.png" alt="">
                </div>
                <div class="team-content fl">
                    <h2 class="name">刘羽鸿</h2>
                    <h4 class="name-title">董事长</h4>
                    <p class="txt"></p>
                </div>
            </li>
            <li class="team clearfix">
                <div class="team-image fl">
                    <img src="/public/images/ct.jpg" alt="">
                </div>
                <div class="team-content fl">
                    <h2 class="name">陈彤</h2>
                    <h4 class="name-title">创始人/CEO</h4>
                    <p class="txt"></p>
                </div>
            </li>
            <li class="team clearfix">
                <div class="team-image fl">
                    <img src="/public/images/gyf.jpg" alt="">
                </div>
                <div class="team-content fl">
                    <h2 class="name">顾宇峰</h2>
                    <h4 class="name-title">VP-软件研发</h4>
                    <p class="txt"></p>
                </div>
            </li>
            <li class="team clearfix">
                <div class="team-image fl">
                    <img src="/public/images/czb.jpg" alt="">
                </div>
                <div class="team-content fl">
                    <h2 class="name">陈轶斌</h2>
                    <h4 class="name-title">VP-渠道拓展</h4>
                    <p class="txt"></p>
                </div>
            </li>
            <li class="team clearfix">
                <div class="team-image fl">
                    <img src="/public/images/hhl.jpg" alt="">
                </div>
                <div class="team-content fl">
                    <h2 class="name">胡红雷</h2>
                    <h4 class="name-title">VP-硬件研发</h4>
                    <p class="txt"></p>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}