{% extends './about_layout.html' %}

{% block _link %}
    <link href="/public/css/time.css" rel="stylesheet">         
{% endblock %}
{% block _script %}{% endblock %}
{% block mainContent %}
<div class="main">
    <div class="channelT pr">
        <h1 class="l N">掌腾之路</h1>
        <div id="switcher" class="r switcher">
            <a class="ico ico5_1" id="big"></a>
            <a class="ico ico5_2"></a>
            <a class="ico ico5_3" id="small"></a>
        </div>
    </div>
    <div class="time-road">
        <div class="time-year">
            <ul class="event_year clearfix">
                <li class="current"><label for="2017">2017</label></li>
                <li><label for="2016">2016</label></li>
            </ul>
        </div>
        <div class="time-contents">
            <ul class="event_list">
                <li class="event_list_item">
                    <h3 id="2017">2017</h3>
                    <div class="event_list_content clearfix">
                        <span class="list_content_title">2月</span>
                        <div class="list_content_content">
                            <div class="event-box">
                                <p> 对接上海世博源星动力，进驻星动力创客空间。</p>
                            </div>
                        </div>
                    </div>
                    <div class="event_list_content clearfix">
                        <span class="list_content_title">3月</span>
                        <div class="list_content_content">
                            <div class="event-box">
                                <p> 掌静脉识别系统V2.0开发完成。</p>
                            </div>
                        </div>
                    </div>
                    <div class="event_list_content clearfix">
                        <span class="list_content_title">4月</span>
                        <div class="list_content_content">
                            <div class="event-box">
                                <p> 专利产品掌静脉自动贩卖机亮相2017中国国际自助服务展。</p>
                            </div>
                        </div>
                    </div>
                    <div class="event_list_content clearfix">
                        <span class="list_content_title">5月</span>
                        <div class="list_content_content">
                            <div class="event-box">
                                <p> 对接上海申通地铁，掌静脉闸机亮相南京西路试点站。 </p>
                            </div>
                        </div>
                    </div>
                    <div class="event_list_content clearfix">
                        <span class="list_content_title">6月</span>
                        <div class="list_content_content">
                            <div class="event-box">
                                <p> 与上海银行签订合作协议。 </p>
                            </div>
                        </div>
                    </div>
                    <div class="event_list_content clearfix">
                        <span class="list_content_title">8月</span>
                        <div class="list_content_content">
                            <div class="event-box">
                                <p> 参与上海申通地铁八号线三期工程，掌静脉识别技术正式运用在上海地铁特殊通道。 </p>
                            </div>
                        </div>
                    </div>
                    <div class="event_list_content clearfix">
                        <span class="list_content_title">9月</span>
                        <div class="list_content_content">
                            <div class="event-box">
                                <p> 对接中国银联电子支付研究院，掌静脉自动贩卖机、掌静脉POS机等进驻中国银联总部大楼展厅。 </p>
                            </div>
                        </div>
                    </div>
                    <div class="event_list_content clearfix">
                        <span class="list_content_title">10月</span>
                        <div class="list_content_content">
                            <div class="event-box">
                                <p> 完成掌静脉无人超市试验点。</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="event_list_item">
                    <h3 id="2016">2016</h3>
                    <div class="event_list_content clearfix">
                        <span class="list_content_title">5月</span>
                        <div class="list_content_content">
                            <div class="event-box">
                                <p> 公司成立。</p>
                            </div>
                        </div>
                    </div>
                    <div class="event_list_content clearfix">
                        <span class="list_content_title">10月</span>
                        <div class="list_content_content">
                            <div class="event-box">
                                <p>掌静脉识别系统V1.0开发完成。</p>
                            </div>
                        </div>
                    </div>
                    <div class="event_list_content clearfix">
                        <span class="list_content_title">11月</span>
                        <div class="list_content_content">
                            <div class="event-box">
                                <p>掌腾APP苹果/安卓平台上线。</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}