{% extends './about_layout.html' %}
{% block mainContent %}
<div class="main">
  <div class="channelT pr">
      <h1 class="l N">重庆分公司介绍</h1>
      <div id="switcher" class="r switcher">
          <a class="ico ico5_1" id="big"></a>
          <a class="ico ico5_2"></a>
          <a class="ico ico5_3" id="small"></a>
      </div>
  </div>
  <div class="imgshow">
      <img src="/public/images/chongqing.png" />
  </div>
  <div class="myart">
      <p>&nbsp;&nbsp;&nbsp;&nbsp;重庆掌腾信息科技有限公司成立于2018年，是上海掌腾信息科技有限公司旗下的子公司，负责重庆及重庆周边地区市场推广及销售。</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;公司主要从事掌静脉识别、鉴权、支付等业务，覆盖了智慧交通、智慧安防、智能支付、无人超市、智慧银行等相关应用领域及服务体系。</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;联系人：于先生</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;联系电话：15736168919</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;公司地址：重庆市渝北区黄山大道中段两江星界2栋16楼</p>
  </div>
</div>
{% endblock %}