{% extends './about_layout.html' %}
{% block mainContent %}
<div class="main">
  <div class="channelT pr">
      <h1 class="l N">关于掌腾</h1>
      <div id="switcher" class="r switcher">
          <a class="ico ico5_1" id="big"></a>
          <a class="ico ico5_2"></a>
          <a class="ico ico5_3" id="small"></a>
      </div>
  </div>
  <div class="imgshow">
      <img src="/public/images/about.png" />
  </div>
  <div class="myart">
      <p>&nbsp;&nbsp;&nbsp;&nbsp;科技让梦想照进生活！掌腾公司作为一家高科技公司，以生物识别技术为核心，着眼于打造生物识别的支付生态，有志于成为该领域领航者。</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;公司资本背景雄厚，高层与核心团队均来自于世界500强，既有掌握领先尖端技术的研发骨干，又有具备丰富管理及项目经验的业务精英，为公司的快速发展提供了坚实的基础。</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;公司的核心技术—掌静脉识别技术，具有广阔的市场前景，合作客户覆盖不同行业，产品涵盖银行、交通、安防、支付等相关领域。愿您的加入给我们带来新的活力，我们也将为您提供广阔的发展空间。</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;上海掌腾信息科技有限公司专注于生物识别技术的研发和行业应用，目前业务涉及银行、交通、安防、支付等多个领域，并已经成功完成了多个具有里程碑意义的行业应用项目。</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;在项目的实施过程中，公司不断积累和提升技术水平，至今，已经研发出多个基于掌静脉识别技术的行业应用产品，包括：掌静脉自助终端、掌静脉闸机、掌静脉自助贩卖机、掌静脉POS机、掌静脉无人超市、掌静脉门禁等。</p>
      <p>
          <strong>"硬件＋软件"双轮驱动</strong><br/>
          &nbsp;&nbsp;&nbsp;&nbsp;以"掌静脉"技术为核心"以轨交交通的基本运作能力为基础"来创造空间"打造轨交交通产业整合能力扩展"双轮驱动能力不断完善。如："会员系统平台""WIFI+生态圈""掌静脉支付"等等。以科技的能力赋能技术的升级和扩展。
      </p>
      <p>
          <strong>掌腾信息的核心优势</strong><br/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. 以高新科技硬件为主体，成熟完善的软件产品贴合，将成为移动互联网时代的首选智能解决方案。<br/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. 型的产品解决方案，为不同类型的需求提供更多的选择空间，只寻找最正确的产品符合需求。<br/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. 高新科技的视觉冲击效果，以及用户的好奇心，可以为需求者本身大大提高了产品方案的使用率普及度。<br/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. 多种类型的用户端展示（APP、用户自助终端、LED屏、WEB、微信）。<br/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5. 强大功能的系统管理台（数据安全、访问速率高效、内网外网双重选择）。
      </p>
      <p>
          <strong>汇聚硬件、软件、互联网精英</strong><br/>
          &nbsp;&nbsp;&nbsp;&nbsp; 作为一家高科技的知识型公司，我们拥有一批优秀的专业技术人才，并与国内多所信息化专业技术研究机构、多家高新科技企业、建立了长期的合作关系和战略研究方面的合作。
      </p>
      <p>
          <strong>掌腾信息资质权威认证</strong><br/>
          &nbsp;&nbsp;&nbsp;&nbsp; 在追求产业新科技发展的同时，掌腾也不忘建立起完善的专业认证机制，掌腾信息目前拥有多个国家认可的专利及知识产权证书。积极尊重版权，做一个负责任的中国企业。同时，掌腾一直积极投身中国商标化的申请和资质、版权、专利、知识产权的不断完善，响应中国科技产业经济的健康发展。
      </p>
  </div>
</div>
{% endblock %}