<div class="tab-bar">
  <ul>
    <li class="tab-item growup active">
      <a href="/">
        <i class="iconfont icon-shouye"></i>
        <span class="text">首页</span>
      </a>
    </li>
    <li class="tab-item care">
      <a href="/m_product?id=0">
        <i class="iconfont icon-chanpinguanli"></i>
        <span class="text">产品</span>
      </a>
    </li>
    <li class="tab-item mall">
      <a href="/m_about/about">
        <i class="iconfont icon-guanyuwomen"></i>
        <span class="text">掌腾</span>
      </a>
    </li>
    <li class="tab-item culture">
      <a href="/m_news">
        <i class="iconfont icon-quanbuxinwen"></i>
        <span class="text">资讯</span>
      </a>
    </li>
    <li class="tab-item me">
      <a href="/m_contact/contact">
        <i class="iconfont icon-lianxiwomen"></i>
        <span class="text">联系</span>
      </a>
    </li>
  </ul>
</div>