{% extends './layout.html'%}
{% block content%}
<div class="header">
  掌腾资讯
</div>
<div class="news-details">
    <h2 class="new-title">实体零售要哭！掌腾无人超市亮相魔都首届无人店大会！</h2>
    <p class="new-time">发布时间：2017-10-12</p>
    <div class="new-content">
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上海掌腾科技，作为拥有现代化的智慧识别体系的企业，专注于掌静脉识别科技的深入科研和科技运用。不仅走在为智慧城市发展服务的前端，用掌静脉识别技术产品为诸多领域的智慧识别建设添砖加瓦，也在给人们在享受互联网+及大数据时代带来的效率性同时，增添了信息识别的安全性和多样性。
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;掌腾科技参加了2017年首届中国无人店大会，凭借领先的人工智能高科技和无人值守带来的自由便利，新一代产品无人超市店为消费者提供了一种很酷的消费体验。
        </p>
        <p style="text-align: center">
            <img src="/public/images/20171012143503_7300.png" alt="250" width="300"/>
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;除了24小时不间断营业，掌腾无人超市最大的亮点是没有收银员，消费者在掌腾无人超市之内的购物过程如同自由进出自己的专属储物间一般。堪称真正意义上的“智能秒购”。
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;全自助的购物过程包括以下几个步骤。
        </p>
        <p class="padding">
            第一步、选择自己想要的商品
        </p>
        <p class="padding">
            第二步、将所选商品放在收银台的“商品识别区”，显示屏会立即显示金额
        </p>
        <p class="padding">
            第三步、掌静脉支付完成，取走付款商品，掌腾无人超市自动开门
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;整个购物过程非常流畅智能，即使5岁的小孩也可以轻松完成。
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“低成本+多赢”的新零售模式，规模化复制能力极强。
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;无人值守的自助便利店可规模化，是新零售的趋势，掌腾科技此次在无人店大会带来的次新产品“无人超市“无疑让大家眼前一亮。
        </p>
        <p style="text-align: center">
            <img src="/public/images/20171012143516_9474.jpg" alt="200" width="300"/>
        </p>
    </div>
</div>
{% endblock %}
{% block link %}
{% endblock %}
{% block script %}
{% endblock %}