{% extends './layout.html'%}
{% block content%}
<div class="header">
  掌腾资讯
</div>
<div class="zt-news-box">
  <div class="zt-news zt-content">
    <ul>
        <li>
            <a href="news_detail" class="news-item">
                <div class="news-img">
                    <img src="/public/m_images/news-iamge.jpg" alt="">
                </div>
                <div class="news-title">
                    <p class="text">	
                        更安全！更灵活！“掌腾智能”致力于成为生物智能应用的“矢量”发动机
                    </p>
                    <p class="time">2017年10月20日</p>
                </div>
            </a>
        </li>
        <li>
            <a href="#" class="news-item">
                <div class="news-img">
                    <img src="/public/m_images/news-iamge.jpg" alt="">
                </div>
                <div class="news-title">
                    <p class="text">	
                        更安全！更灵活！“掌腾智能”致力于成为生物智能应用的“矢量”发动机
                    </p>
                    <p class="time">2017年10月20日</p>
                </div>
            </a>
        </li>
        <li>
            <a href="#" class="news-item">
                <div class="news-img">
                    <img src="/public/m_images/news-iamge.jpg" alt="">
                </div>
                <div class="news-title">
                    <p class="text">	
                        “掌腾智能”亮相星动力 生物智能识别正式落地
                    </p>
                    <p class="time">2017年10月20日</p>
                </div>
            </a>
        </li>
        <li>
          <a href="#" class="news-item">
              <div class="news-img">
                  <img src="/public/m_images/news-iamge.jpg" alt="">
              </div>
              <div class="news-title">
                  <p class="text">	
                      “掌腾智能”亮相星动力 生物智能识别正式落地
                  </p>
                  <p class="time">2017年10月20日</p>
              </div>
          </a>
      </li>
      <li>
          <a href="#" class="news-item">
              <div class="news-img">
                  <img src="/public/m_images/news-iamge.jpg" alt="">
              </div>
              <div class="news-title">
                  <p class="text">	
                      “掌腾智能”亮相星动力 生物智能识别正式落地
                  </p>
                  <p class="time">2017年10月20日</p>
              </div>
          </a>
      </li>
    </ul>
  </div>
</div>
<div class="pager-box">
    <nav>
        <ul class="pagers">
            <li><a href="#"><span aria-hidden="true">&laquo;</span></a></li>
            <li>1/<strong>5</strong></li>
            <li><a href="#"><span aria-hidden="true">&raquo;</span></a></li>
        </ul>
    </nav>
</div>
{% endblock %}
{% block link %}
{% endblock %}
{% block script %}
{% endblock %}