{% extends './layout.html'%}
{% block content%}
<div class="header">
    <a href="/m_product?id=0"><i class="iconfont icon-fanhui"></i></a>无人超市方案
</div>
<div class="detail">
    <ul class="content-lists">
        <li class="content-list">
            <h1 class="list-name">
                <strong>基本概念</strong>  
            </h1>
            <div class="list-image">
                <img src="/public/images/20170920140639_1296.png" width="290" height="152" alt="">
            </div>
            <div class="list-txt">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“掌购-智慧超市”是以生物识别（掌静脉识别）作为身份验证/账户支付，同时利用RFID识别技术、图像识别技术以及RFID商品标签做商品的结算依据，来实现整个便捷安全的快速购物体验。 用户在通过刷手掌进行账号注册后，之后购物结算时通过RFID识别技术对所购商品的金额进行统计并展示给用户，用户在确认商品金额后刷手掌支付即可完成整个购物过程。旨在为用户提供除手机支付、现金支付之外的更加高效、安全、便捷的支付体验，以及为行业用户提供一体化软硬件解决方案。</p>
            </div>
        </li>
        <li class="content-list">
            <h1 class="list-name">
                <strong>产品优势</strong>  
            </h1>
            <div class="list-image">
                <img src="/public/images/q2.png" width="297" height="217" alt="">
            </div>
            <div class="list-txt">
                <p class="weight">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、24小时无人值守</p>
                <p class="weight">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、支持多人同时购物</p>
                <p class="weight">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、终端极速注册手掌，用户会员制</p>
                <p class="weight">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、不用钱包与手机，刷手就可支付</p>
                <p class="weight">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5、多类安全防偷措施护航</p>
                <p class="weight">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6、整体布局搭建快速、方便</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“掌购-智慧超市”能通过图像识别、生物识别等相关技术来收集和分析用户购买行为、用户身份信息数据，在复杂环境中提供更加可靠更有针对性的购物环境。</p>
            </div>
        </li>
        <li class="content-list">
            <h1 class="list-name">
                <strong>商业价值</strong>  
            </h1>
            <div class="list-image">
                <img src="/public/images/q1.png" width="290" height="157" alt="">
            </div>
            <div class="list-txt">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“掌购-智慧超市”的商业价值非常的高，主要表现在以下几个特点：</p>
                <p class="weight">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、最小占地面积300MM * 600MM（18平方）</p>
                <p class="weight">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、减少了店内服务人员的工资成本，提供低成本的运营模式</p>
                <p class="weight">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、不需要携带任何物品，只需要手掌轻轻一挥，即可便捷购物</p>
                <p class="weight">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、外观及操作模式新颖，吸引更多的顾客消费</p>
                <p class="weight">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5、不再是小小便利店，而是大大智慧超市，无限功能可扩展</p>
            </div>
        </li>
    </ul>
  </div>
{% endblock %}
{% block link %}
{% endblock %}
{% block script %}
{% endblock %}