{% extends './layout.html'%}
{% block content%}
<div class="header">
    <a href="/m_product?id=0"><i class="iconfont icon-fanhui"></i></a>人证合一方案
</div>
<div class="detail">
    <ul class="content-lists">
        <li class="content-list">
            <h1 class="list-name">
                <strong>掌静脉注册/证件绑定</strong>  
            </h1>
            <div class="list-image">
                <img src="/public/images/20170921132959_1950.png" width="300" height="206" alt="">
            </div>
            <div class="list-txt">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在一些必须需要使用到相关证件的场所中，实现“人证合一”是最有效化管理的方式，而最关键也是最基本步骤是得先拥有一个手掌账户，并且该手掌账户与证件为相互绑定的关系。</p>
                <p class="weight">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第一步：用户通过“人证合一自助终端”进行手掌身份的账户注册。</p>
                <p class="weight">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第二步：注册完成“掌静脉”账户后，通过证件识别认证身份权限。</p>
                <p class="weight" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第三步：用户"掌静脉账户"绑定用户“证件身份”由手掌取代验证。</p>
                <p class="weight">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第四步：如需更换绑定证件，可刷手登录自助终端申请变更操作。</p>
            </div>
        </li>
        <li class="content-list">
            <h1 class="list-name">
                <strong>身份验证设备</strong>  
            </h1>
            <div class="list-image">
                <img src="/public/images/20170921133008_8620.png" width="300" height="206" alt="">
            </div>
            <div class="list-txt">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“掌静脉”的识别模块可以装置在任意的开关门上（闸机/门禁）都可以进行用户手掌的身份及验证。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（ZT-RZZJ201709）是掌腾专为轨交服务而制作人证合一产品。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（ZT-RZZJ201709）由四大功能模块组成，其核心的还是门禁系统功能。</p>
                <p class="weight">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、掌静脉模块功能（验证身份/发送指令）</p>
                <p class="weight">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、门禁系统模块（开关门/接受指令）</p>
                <p class="weight">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、监控视频模块（可远程打开监控查看）</p>
                <p class="weight">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、求助帮忙模块（按下HELP远程发消息给工作人员进行处理）</p>
            </div>
        </li>
        <li class="content-list">
            <h1 class="list-name">
                <strong>网络安全传输</strong>  
            </h1>
            <div class="list-image">
                <img src="/public/images/20170921133159_3284.png" width="300" height="206" alt="">
            </div>
            <div class="list-txt">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“人证合一”技术通道的网络传输方式，是支持纯公网/纯局域网/半公半局的多类型模式。这里简单介绍下使用场景最多的一种半公半局网络传输模式。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们依然以本地服务器为核心安全数据搭载方式，注册终端生成的注册数据，传输到本地安全服务器中，再以本地服务器数据在及时传输到公网云服务器上，进行数据备份及分发到各个验证点或区域的本地服务器上进行数据的整合。以此来完成数据的整体的更新及分发。而“掌静脉”身份验证只需要进行本地服务器快速验证即可。</p>
            </div>
        </li>
    </ul>
  </div>
{% endblock %}
{% block link %}
{% endblock %}
{% block script %}
{% endblock %}