{% extends './layout.html'%}
{% block content%}
<div class="header">
  产品中心
</div>
<div class="zt-news-box">
  <div class="zt-news zt-content">
    <ul>
        <li>
            <a href="/m_product?id=1" class="news-item">
                <div class="news-img">
                    <img src="/public/images/hand.png" alt="">
                </div>
                <div class="news-title">
                    <p class="title">	
                      掌静脉识别原理
                    </p>
                    <p class="txt">掌静脉识别技术是利用近红外线照射手掌，并由传感器感应手掌反射的光。其中的关键在于流到静脉红血球中...</p>
                </div>
            </a>
        </li>
        <li>
            <a href="/m_product?id=2" class="news-item">
                <div class="news-img">
                    <img src="/public/images/metro.png" alt="">
                </div>
                <div class="news-title">
                    <p class="title">	
                        地铁通行方案
                    </p>
                    <p class="txt">掌静脉智能通道可作为一个人工智能的高生物识别科技应用落地，同时也完全符合地铁运营要求的规范...</p>
                </div>
            </a>
        </li>
        <li>
            <a href="/m_product?id=3" class="news-item">
                <div class="news-img">
                    <img src="/public/images/noshop.png" alt="">
                </div>
                <div class="news-title">
                    <p class="title">	
                        无人超市方案
                    </p>
                    <p class="txt">掌购-智慧超市”是以生物识别（掌静脉识别）作为身份验证/账户支付，同时利用RFID识别技术...</p>
                </div>
            </a>
        </li>
        <li>
          <a href="/m_product?id=4" class="news-item">
              <div class="news-img">
                  <img src="/public/images/idcard.png" alt="">
              </div>
              <div class="news-title">
                  <p class="title">	
                      人证合一方案
                  </p>
                  <p class="txt">用户通过“人证合一自助终端”进行手掌身份的账户注册,注册完成“掌静脉”账户后，通过证件识别认证身份权限...</p>
              </div>
          </a>
      </li>
      <li>
          <a href="/m_product?id=5" class="news-item">
              <div class="news-img">
                  <img src="/public/images/guanli.png" alt="">
              </div>
              <div class="news-title">
                  <p class="title">	
                      系统管理方案
                  </p>
                  <p class="txt">掌腾ZOA系统是一套专门为工作区域管理及企业员工管理而设计的基于掌静脉技术的综合管理系统...</p>
              </div>
          </a>
      </li>
      <li>
        <a href="/m_product?id=6" class="news-item">
            <div class="news-img">
                <img src="/public/images/pay.png" alt="">
            </div>
            <div class="news-title">
                <p class="title">	
                    商业支付方案
                </p>
                <p class="txt">掌腾信息为掌静脉支付领域打造了"钱包"概念，让支付成为一种习惯性的生活方式...</p>
            </div>
        </a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
{% block link %}
{% endblock %}
{% block script %}
{% endblock %}