{% extends './layout.html'%}
{% block content%}
<div class="header">
    <a href="/m_product?id=0"><i class="iconfont icon-fanhui"></i></a>商业支付方案
</div>
<div class="detail">
    <ul class="content-lists">
        <li class="content-list">
            <h1 class="list-name">
                <strong>应用背景</strong>  
            </h1>
            <div class="list-image">
                <img src="/public/images/inner-product-pic-1.jpg" width="288" height="240" alt="">
            </div>
            <div class="list-txt">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;互联网时代，几乎所有产业都要紧密的贴近互联网区域，而支付也是成为互联网时代最大的问题之一，过去的支付不仅存在着安全风险，也着实有很多不便利的地方。让支付变得更安全更便捷，掌静脉支付绝对是最佳选择。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;顺应时代的发展、紧密获取各类的支付数据，采集到最大化支付大数据，本身也有利于产业本身的利益分析，能更有的帮助产业在支付领域获得更多的有效数据，帮助产业更健康、更持续的发展。</p>
            </div>
        </li>
        <li class="content-list">
            <h1 class="list-name">
                <strong>基础配套</strong>  
            </h1>
            <div class="list-image">
                <img src="/public/images/inner-product-pic-2.jpg" width="294" height="165" alt="">
            </div>
            <div class="list-txt">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;支付环境的搭配是需要配置硬件和软件的结合，才能使得支付的流程，在用户角度十分的便捷有效。</p>
                <p class="weight">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;登记方式：掌静脉一体式自助终端、服务大厅登记。</p>
                <p class="weight">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;检验设备：掌静脉识别模块。</p>
                <p class="weight">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;终端设备：自助机，APP（都可以满足在线充值和消费记录查询）。</p>
                <p class="weight">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;网络设备：服务器、交换机、VPN、防火墙、数据库、UPS不间断电源。</p>
            </div>
        </li>
        <li class="content-list">
            <h1 class="list-name">
                <strong>钱包支付</strong>  
            </h1>
            <div class="list-image">
                <img src="/public/images/inner-product-pic-3.jpg" width="288" height="211" alt="">
            </div>
            <div class="list-txt">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;掌腾信息为掌静脉支付领域打造了"钱包"概念，让支付成为一种习惯性的生活方式。</p>
                <p class="weight">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;【线下付款】配备"掌静脉"扫描器的商户，可以直接刷取顾客的手掌进行线下付款/收款操作。</p>
                <p class="weight">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;【线上付款】利用"掌付卡"APP开设网上商城购买或预订功能，乘客只需在线上就可以付款购买到喜欢的商品。</p>
                <p class="weight">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;【线上充值】乘客绑定了"掌静脉"信息后，可以通过"掌腾"APP，在线上进行在线充值</p>
                <p class="weight">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;【交通扣费】乘客绑定了"掌静脉"信息后，可以利用刷手掌方式，进行交通进出口的身份验证。</p>
                <p class="weight">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;【消费余额】用户可以在"掌腾"APP中看到账户的余额以及账户的所有消费记录。</p>
            </div>
        </li>
    </ul>
  </div>
{% endblock %}
{% block link %}
{% endblock %}
{% block script %}
{% endblock %}