{% extends './layout.html'%}
{% block content%}
<div class="header">
    <a href="/m_product?id=0"><i class="iconfont icon-fanhui"></i></a>地铁通行方案
</div>
<div class="detail">
    <ul class="content-lists">
        <li class="content-list">
            <h1 class="list-name">
                <strong>方案背景</strong>  
            </h1>
            <div class="list-image">
                <img src="/public/images/20180308151839_6834.png" width="296" height="170" alt="">
            </div>
            <div class="list-txt">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;随着全国地铁的建设发展要求，高新技术的不断运用，车站客运服务人员大量精简，乘客票务处理完全自助化。因此也针对地铁站内的通行闸机通道建设提出了新的要求。掌静脉智能通道可作为一个人工智能的高生物识别科技应用落地，同时也完全符合地铁运营要求的规范，作为门禁系统的一部份接入综合监控系统，同时也与消防系统联动，实现了设备状态的实时监控和紧急情况下的自动开门。掌静脉识别技术由于人员身份和手掌的唯一绑定。尤其适合以下应用场景：</p>
                <p class="weight padding">1、人员情况复杂场景。</p>
                <p class="weight padding">2、高安全等级要求场景。</p>
                <p class="weight padding">3、不便使用卡片场景。</p>
            </div>
        </li>
        <li class="content-list">
            <h1 class="list-name">
                <strong>产品方案</strong>  
            </h1>
            <div class="list-image">
                <img src="/public/images/20180308151232_0861.png" width="308" height="223" alt="">
            </div>
            <div class="list-txt">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    针对地铁站内不同的运营需求，在注册产品中，开设2种注册方式产品。</p>
                <p class="padding weight">分离式注册机（适合人工注册）：...内容填充中，请耐心等候...</p>
                <p class="padding weight">一体式注册机（适合自动注册）：...内容填充中，请耐心等候...</p>
            </div>
        </li>
        <li class="content-list">
            <h1 class="list-name">
                <strong>产品优势</strong>  
            </h1>
            <div class="list-image">
                <img src="/public/images/20180308154709_1957.png" width="294" height="150" alt="">
            </div>
            <div class="list-txt">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;优势介绍：</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...内容填充中，请耐心等候...</p>
            </div>
        </li>
    </ul>
  </div>
{% endblock %}
{% block link %}
{% endblock %}
{% block script %}
{% endblock %}